## Topic

### **String Based Assignment Problem:**

---
---

## 1. String Based Questions.

## 1. Write a program to reverse a string.

- define the function:we define a function called slicing and reverse that take as input string as its parameter.this function is responsible for reversing the string .

In [13]:
input_str= "pw skills"
input_str[::-1]

'slliks wp'

## 2. Check if a string is a palindrome.

In [14]:
def is_palindrome(s):
    # Convert the string to lowercase to ensure case-insensitive comparison
    s = s.lower()

    # Remove spaces and punctuation from the string
    s = ''.join(e for e in s if e.isalnum())

    # Compare the original string with its reverse
    return s == s[::-1]

In [15]:
print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man, a plan, a canal, Panama"))

True
False
True

- `def is_palindrome(s)`:
This line defines a function named is_palindrome that takes a single argument s, which is the input string we want to check for palindrome.
- `s = s.lower()`:  This line converts the input string to lowercase using the .lower() method. This step is taken to make the palindrome check case-insensitive, so that uppercase and lowercase letters are treated the same way.
- `s = ''.join(e for e in s if e.isalnum())`:  This line removes any non-alphanumeric characters (like spaces, punctuation, etc.) from the string. It uses a list comprehension and the .join() method to create a new string containing only alphanumeric characters.
- `return s == s[::-1]`:  This line compares the modified string (s) with its reverse (s[::-1]) using the equality operator (==). If the string and its reverse are the same, it means the input string is a palindrome, and the function will return True. Otherwise, it will return False.

To use this function, you can simply call it with a string as an argument. For example:

## 3. Convert a string to uppercase.

In [28]:
input_string = "pwskills "

In [29]:
input_string.upper()

'PWSKILLS '

In [146]:
## step 1st - user input as a string .

## step 2nd - convert string into upper case .

## 4. Convert a string to lowercase.

In [1]:
input_string = "PWSKILLS"
input_string.lower()

'pwskills'

In [3]:
a="   pwskills    "

In [145]:
# step 1- take input_string as a string.

# step 2- call input_string.lower to conver string into lower case .

# step 3- result string convert into a lower case .

## 5. Count the number of vowels in a string.

In [11]:
def count_vowels(string):
    vowel_count=0
    string=string.lower()
    vowels=set("aeious")
    for char in string :
        if char in vowels :
            vowel_count +=1
    return vowel_count
input_string = "This is my second assignement "
result =count_vowels(input_string)
print("number of vowels:",result)

number of vowels: 13

In [144]:
# step 1- create a variable to keep rack of the vowel count .

#step 2- convert the string into lower case to handle both upper case and lower case .

# step 3 - retur the final vowel count .

## 6. Count the number of consonants in a string.

In [24]:
def count_consonants(string):
    consonant_count = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWX"
    for char in string:
        if char in consonants:
            consonant_count += 1
    return consonant_count
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  this is my second assignment

Number of consonants: 17

In [143]:
## step 1- create the variable to keep trac of the count  consonants.

## step 2- define a set of consonants characters.

## step 3- iterate through each character in the input string .

## step 4-return the final count of consonants 

## step 4- call the function and print the result .

## 7. Remove all whitespaces from a string.

In [28]:
input_str ="      this is my second assignment    "
input_str.strip()

'this is my second assignment'

In [142]:
## step 1-create a variable to keep trace of the whitespaces string .

## step 2- call the strip function and get the result .

## remove all sapces from the string left side and right side both

## 8. Find the length of a string without using the len() function.

In [77]:
def find_length(string):
    length=0
    for i in string :
        result=result+1
print("length of the string without using the len() function string",result)

length of the string without using the len() function string 17

In [78]:
## step 1-create the variable for to keep trace of the lenght .
## step 2-iterate through in each character in the string .
## print the final result , which represents length of the string .

## 9. Check if a string contains a specific word.

In [108]:
specific_word ="second"
input_str=input("enter the string")
if "second" in input_str:
    print("string contains specific word ")
    
else:
        print("does not contaion specific word")

enter the string pwskills

does not contaion specific word

In [109]:
specific_word ="second"
input_str=input("enter the string")
if "second" in input_str:
    print("string contains specific word ")
    
else:
        print("does not contaion specific word")

enter the string this is second assingement

string contains specific word

In [106]:
## step -1 create the input_str for trace the specific word is contains or not into a string which is given by the user 
## step -2 call the print function given me a specific result 
## step -3 both condition chek one by one.

- `input_str = input("enter the string)`: this line promotes the user to input a string .
- `if "second "in input_str`: this line promotes the user cheking for the specific word is contains or not .
- `print("string contains specific word ")`: this line print "string contains specific word " if specific word is contain into the string which is given by the user 
- `else:
     ` print("does not contaion specific word")`:this line print "does not contain specific word " if specific word is  not contains then print this

## 10. Replace a word in a string with another word.

In [125]:
input_string = input("enter the string ")
old_string = input("inter the old word")
new_string = input("enter the new word")
replaced_string = input_string.replace(old_string,new_string)
print("replaced_string",replaced_string )

enter the string  Hello bacho
inter the old word bacho
enter the new word pwians

replaced_string Hello pwians

- `input_string = input("enter the string ")`: I starting from the user input which is given by the user and store user input variable into a input_string.
- `old_string = input("inter the old word")`:This line asked the user input as a old_string variable .
- ` new_string = input("enter the new word")`: This line asked user input as new_string variable.
- ` replaced_string = input_string.replace(old_string,new_string)`: This line replaced the old_string by the new_string and store in the variable of replaced_string .
- `print("replaced_string",replaced_string )`: This line print the replaced fuction .

## 11. Count the occurrences of a word in a string.

In [129]:
input_str="this is a second assingement "
input_str.count("this")

1

- ` step-1 create string ` - :"this is a second assingement" and store inside the input_str.
- `step -2 call the input_str.count("this")`: , this function shows a result 1 .

## 12. Find the first occurrence of a word in a string.

In [217]:
def find_first_occurrence(text, word):
    # Step 1: Find the index of the first occurrence of the word in the text.
    index = text.find(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the first occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence containsthe word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

### 13. Find the last occurrence of a word in a string.

### 14. Split a string into a list of words.

In [218]:
s = "this is my second python assingemnet "

In [219]:
s.split()

['this', 'is', 'my', 'second', 'python', 'assingemnet']

- fist write a string and store into the variable of s  .
- call function s.split() then split the string into a list of words  .

### 15. Join a list of words into a string

In [28]:
def join_string_to_list(L):
    join_string = ' ' .join(L)
    return join_string
list_of_word = ["avneesh","kumar"]
join_text = join_string_to_list(list_of_word)
print("join_string",join_text)

join_string avneesh kumar

- `def join_string_to_list(L):`: we Define a function called join_string_to_list(L)
- `  join_string = ' ' .join(L)`: with the help of this function we join the list of words into a string that we want to join

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [11]:
def seprated_by_spaces(text):
    ## use the replace function to replace spaces by the underscore
    seprated_by_underscore = text.replace(" " ,"_")
    ## we retuer the rplace function 
    return seprated_by_underscore
## tern the text we want to replace spaces by the underscore 
text = " this is my second python assingement "
converted_text = seprated_by_spaces(text)
## call the print function 
print("converted string ",converted_text)

converted string  _this_is_my_second_python_assingement_

- ` defining the function def seprated_by_spaces(text):`: we define a function called seprated_by_spaces that takes one parameter (text),(the input string that we want to convert ).
- ` seprated_by_underscore = text.replace(" " ,"_")`: we use replace() method on the text string that we want to replace spaces by the underscore( _ ) . we pass the two arguments one is substring we want to replace by the one another argument that is underscore ( _ ) .
- ` retuer the converted string(return seprated_by_underscore)`:after returning the seprated_by_underscor we returtn the string text (text = " this is my second python assingement ") .
- ` print("converted string ",converted_text)`: call the print function we found the respected answer ..

### 17. Check if a string starts with a specific word or phrase.



this is not solved by me

In [42]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

- Defining the Function (def starts_with(text, prefix):):
We define a function called starts_with that takes two parameters: text (the input string) and prefix (the word or phrase we want to check if the string starts with).
- Using the startswith() Method (is_start = text.startswith(prefix)):
We use the startswith() method on the text string to check if it starts with the specified prefix. The method returns True if the string starts with the prefix, and False otherwise.
- Returning the Result of the Check (return is_start):
We return the result of the startswith() check.

### 18. Check if a string ends with a specific word or phrase.



this is not solved by me

In [39]:
def ends_with(text, suffix):
    # Step 1: Use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)

    # Step 2: Return the result of the check.
    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

- Defining the Function (def ends_with(text, suffix):):
We define a function called ends_with that takes two parameters: text (the input string) and suffix (the word or phrase we want to check if the string ends with).
- Using the endswith() Method (is_end = text.endswith(suffix)):
We use the endswith() method on the text string to check if it ends with the specified suffix. The method returns True if the string ends with the suffix, and False otherwise.
- Returning the Result of the Check (return is_end):
We return the result of the endswith() check.

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [44]:
## 1st we create a string that we want to convert 
input_str = "hello world"
## we call the title function for converting the string  
input_str.title()

'Hello World'

- `input_str = "hello world"`:we create input_string = "hello world" that we want to convert string to title .
- `input_str.title()` : we call the input_str.title function  for converting the string into title.

### 20. Find the longest word in a string.

In [61]:
def find_longest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the longest word and its length.
    longest_word = ""
    max_length = 0

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    # Step 4: Return the longest word.
    return longest_word

# Example usage
text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

- Defining the Function (def find_longest_word(text):):
We define a function called find_longest_word that takes one parameter: text (the input string from which we want to find the longest word).
- Using the split() Method (words = text.split()):
We use the split() method on the text string to split it into a list of words. This step allows us to process each word individually.
- Initializing Variables (longest_word and max_length):
We initialize two variables, longest_word to keep track of the longest word found, and max_length to keep track of the length of the longest word.
- Iterating Through Words (for word in words:):
We iterate through each word in the list of words.
- Comparing Word Lengths and Updating (if len(word) > max_length:):
For each word, we compare its length (len(word)) to the current max_length. If the length of the current word is greater than the current maximum length, we update max_length and set longest_word to the current word.
- Returning the Longest Word (return longest_word):
After iterating through all the words, we return the value stored in the longest_word variable, which will be the longest word found.

### 21. Find the shortest word in a string.    



this is not solved by  me

In [66]:
def find_shortest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the shortest word and its length.
    shortest_word = None
    min_length = float('inf')  # Initialize to a large value

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is smaller than the current min_length.
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    # Step 4: Return the shortest word.
    return shortest_word

# Example usage
text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

- Defining the Function (def find_shortest_word(text):):
We define a function called find_shortest_word that takes one parameter: text (the input string from which we want to find the shortest word).
- Using the split() Method (words = text.split()):
We use the split() method on the text string to split it into a list of words. This step allows us to process each word individually.
- Initializing Variables (shortest_word and min_length):
We initialize two variables, shortest_word to keep track of the shortest word found, and min_length to keep track of the length of the shortest word. We initialize min_length to a large value using float('inf').
- Iterating Through Words (for word in words:):
We iterate through each word in the list of words.
- Comparing Word Lengths and Updating (if len(word) < min_length:):
For each word, we compare its length (len(word)) to the current min_length. If the length of the current word is smaller than the current minimum length, we update min_length and set shortest_word to the current word.
- Returning the Shortest Word (return shortest_word):
After iterating through all the words, we return the value stored in the shortest_word variable, which will be the shortest word found.

### 22. Reverse the order of words in a string.

In [70]:
input_string = "this is my second python assingement "
input_string[::-1]

' tnemegnissa nohtyp dnoces ym si siht'

- ` input_string = "this is my second python assingement "`: we create a string that we want to revere the order of words in a string
- ` input_string[::-1]` : we called the slicing function to reverse the string

### 23. Check if a string is alphanumeric.

In [76]:
def is_alphanumeric(text ):
    return text.isalnum()
text = "hellobachoo1234"
result = is_alphanumeric(text )
if result:
    print ("the  string is alphanumeric")
else:
    print("the string is not alphanumeric")

the  string is alphanumeric

- `def is_alphanumeric(text )`: we define the function is_alphanumeric that takes one arguments(text) [that we want to chek text is alphanumeric or not ]
- `  return text.isalnum()` : using this method we chek the character in text is alphanumeric or not 
- ` we create the two condition one is if and another is else if text is contain the alphanumeri then work if condition ,else work else condition ..

### 24. Extract all digits from a string.

In [95]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits 
text ="rugshc99865"
extracted_digits = extract_digits(text)
print("extarcted digits",extracted_digits)

extarcted digits 99865

- `def extract_digits(text):`:we define a function extract_digits(text) that takes one parameter(the input string from which want to exctrat digits ).
- `digits = ""`: we create digits variable where we can store the extracted digits .
- ` for char in text:`: we use the for loop for iterating each char through for loop in a text string .
- `Appending Digits (digits += char)`: If the character is a digit, we append it to the digits string using the += operator.
- `Returning the Extracted Digits (return digits)`: After iterating through all characters in the string, we return the digits string, which contains the extracted d

### 25. Extract all alphabets from a string.

In [102]:
def extract_alphabets(input_string):
    alphabets = ''.join([char for char in input_string if char.isalpha()])
    return alphabets 
input_string = "pwski2559656lls"
result = extract_alphabets(input_string)
print(result)

pwskills

- `def extract_alphabets(input_string):`: we define a function def extract_alphabets(input_string): that takes one parameters input_string ( the input string from which we want to extract alphabates 
- In the list comprehension, char.isalpha() is used to check if the character is an alphabet (a letter) or not. If it's an alphabet, the character is included in the list.
- Use the join() method to combine the characters in the list back into a single string of alphabets.
- Return the alphabets string from the function.
- Define an example input_string containing a mix of letters and digits.
- Call the extract_alphabets function with the input_string and store the result in the result variable.
- Print the result to see the extracted alphabets from the input string.

### 26. Count the number of uppercase letters in a string.

In [10]:
def count_uppercse(text):
    uppercse_count = sum(1 for char in text if char.isupper())
    return uppercse_count 
text ="PWSkikLLs"
result =count_uppercse(text)
print(result)

5

- `def count_uppercse(text)`: we define the function def count_uppercse(text) that takes one parameter (in the string that we want to count the uppercase )

- ` uppercse_count = sum(1 for char in text if char.isupper())`: thish method is us for chek the upper case character 
- print the result to see the count of uppercase characters

### 27. Count the number of lowercase letters in a string.

In [12]:
def count_lowercase(text):
    lowercase_count = sum(1 for char in text if char.islower())
    return lowercase_count
text ="PwSkills"
result= count_lowercase(text)
print(result)

6

- `def count_lowercase(text):`: we define a function that takes one arguments (text),that we want to count of lowercase char 
- `lowercase_count = sum(1 for char in text if char.islower())`: we return this code line for the count of lowercase char in string 
- we print the resut to see the count of lowercase char

### 28. Swap the case of each character in a string.

In [14]:
def swapcase(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "PwSkIllIs"
result=swapcase(input_string)
print(result)

pWsKiLLiS

- `def swapcase(input_string)`: - we define the function def swapcase(input_string) that takes one parameter input_string (the string in which we count the lower case char .
- `  swapped_string = input_string.swapcase()` : we create this function for the swapecase char into the input_string 
- we create the result variable in which this variable we store the swapped_string ..
- print the result function to see the count of swapcase char

### 29. Remove a specific word from a string.

In [24]:
def remove_word(input_string,word_to_remove):
    words=input_string.split()
    filtered_words = [word for word in words if word!=word_to_remove]
    modified_string = " ".join(filtered_words)
    return modified_string
input_string = "hello world, welcome to the world of the programing"
word_to_remove = "world"
result = remove_word(input_string,word_to_remove)
print(result)

hello world, welcome to the of the programing

- `def remove_word(input_string,word_to_remove):`: we define the function that takes two arguments one is input string and another is word_to_remove that we want to remve the specific word from a string .
- inside the function,split the input_string into a list of words using the split method .by defalut split() ,split the string on whitespace
    -`filtered_words`: crate a variable named filterded_words and use a list comprehension to iterate through each word in the word list if word is not equal to the word_to_remove, its included filtered_word list .
- use the join() met1hod to combine the word in the filtered_words list back into a string ,using the  space as a seprater .
- return the modified string from the function .
- call the remove_word function with the input_string and word_to_remove ,and store the result into the result variable .
- we print the result to see the result

### 30. Check if a string is a valid email address.

In [25]:
def is_valid email(email):

SyntaxError: invalid syntax (468116716.py, line 1)

### 31. Extract the username from an email address string.

In [32]:
def user_name(email):
    extract_user_name =email.split("@")[0]
    return  extract_user_name
email = "avneeshkumar1362@gmail.com"
result =user_name(email)
print(result)

avneeshkumar1362

- `def user_name(email)`: we define this function that takes the one argument gmaiaal( in this gmail we want to extract user name )
- ` extract_user_name =email.split("@")[0]`: we use split() function to split the gmail from "@" and  return extract_user_name .
- we create the result variable to store user_name 
- we print the result to see the result 
- Use indexing [0] to access the first part of the list, which is the username. Return the username from the function.

### 32. Extract the domain name from an email address string.

In [46]:
def user_domain(email):
    extract_user_domain =email.split("@")[1]
    return  extract_user_domain
email = "avneeshkumar1362@gmail.com"
result =user_domain(email)
print(result)

gmail.com

- `def user_domain(email)`: we define this function that takes the one argumennts gmail(in this gemail we want to extract the domain name from gmail adress string.
- we use the split function to split the gmail from "@" and acess domain name from the index [1] from the list 2 
- we create the result variable in this variable ,we store the extract_user_domain.
- we print the result to see the result

### 33. Replace multiple spaces in a string with a single space.

In [2]:
def replace_multiple_spaces(input_string):
    replaced_space_string = ' '.join(input_string.split())
    return replaced_space_string
input_string = "this    is    a python     second     assingement"
result = replace_multiple_spaces(input_string)
print(result)

this is a python second assingement

- `def replace_multiple_spaces(input_string)`:we define this function in this function takes one argument Input_string (that we want to replace multispace by the single space ..
- use the split method to split the input_string into a list of words .by default , split()split the string on whitwspace ,treating consectiv space as single delimeter .
- use the join method to join the list of word back into a string using a single space as the seprator . this efectively replaces the multiple spaces with a single space .
- return the replaced_space_string from the function

### 34. Check if a string is a valid URL.

In [8]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result =urlparse(url)
        return all ([result.scheme ,result.netloc])
    except valueError:
        return False
url="https://www.example.com"
url2 ="invalid-erl1"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

- import the urlparse function from the urllib.parse module this function allows to parse URLs and extract theircomponents.
- define a function named is_valid_url that takes url parameter . inside the function , use a try block to handle possible exceptions during url parsing .
- use urlpare(url) to parse the given URL. the result is an object containing the URLs components like scheme , netloc ,path, query ,etc .
- Check if both the result.scheme (URL scheme, like "http", "https", etc.) and result.netloc (network location) are present. If both are present, it's considered a valid URL.
- If any exception occurs during parsing (indicating that the URL is not correctly formatted), the except ValueError block will catch it and return False.
- Define example URLs (url1 and url2).
- Call the is_valid_url function with the example URLs and store the results in result1 and result2.
- Print the results to see whether each URL is considered valid or not.

### 35. Extract the protocol (http or https) from a URL string.

In [9]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol 
    else:
        return None

url1 = "http://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"


protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)


print("protocol 1",protocol1)
print("protocol 2",protocol2)
print("protocol 3",protocol3)

protocol 1 http
protocol 2 http
protocol 3 ftp

- we define a function extract_protocol(url) that taks=es a URL string as input .inside the function we used the find() method to locate the first occurences of  ://in the URL. this is the seproter between the protocol and rest of the URL.
- if the seprator is found (protocol_end is not -1),we extract the substring from the start of the URL up to protocol_end(exclusive) to get the protocol.
- if the seprator is not found , we return none to indicate that the pectoral could't be extracted .
- we provide example (url1 , url2 ,url3).
- we call the extract_protocol() function for each URL to extract their protocols and stores them protocol1, protocol2, protoco3.
- finlly we print the extracted protocols using print() statements.

### 36. Find the frequency of each character in a string.

In [15]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
input_string = "hello ,word"
char_frequency = character_frequency(input_string)
            
for char ,freq in char_frequency.items():
    print(f"character:'{char}',frequency:{freq}")

character:'h',frequency:1
character:'e',frequency:1
character:'l',frequency:2
character:'o',frequency:2
character:' ',frequency:1
character:',',frequency:1
character:'w',frequency:1
character:'r',frequency:1
character:'d',frequency:1

- we define a function charcter_frequency(input_string) that takes a string as input.
- inside the function , we create an empty dicitonary named frequency to store the frequency of each character .
- we iterate through each character in the input_string
- for each character , we check if it is already present in the frequency dictionary using the in operator.
  -  if the character already in the dictionary ,we increment its corresponding frequency count by .
  - if the charctaer is not in the dictionary , we initilize its frequency count to 1.
- after iterating through all characters in the input string , we return the frequency dictionary .
- we provide an example string input_str.
- we call the character_frequency() function

### 37. Remove all punctuation from a string.

In [5]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("","",string.punctuation)
    
    clean_string = input_string.translate(translator)
    
    return clean_string
input_string ="hello, world! how's it going?"

cleaned_str = remove_punctuation(input_string)
print("original string ",input_string)
print("cleaned string :",cleaned_str)

original string  hello, world! how's it going?
cleaned string : hello world hows it going

- we import the string module, which contains a string called punctuation containg all punctuation characters.
- we define a function remove_punctation(input_string) that takes a string as input.
- inside the function , we use the str.maketrans() method to create a translation table.this table will map each punctuation character to None , effectively removing them .
- we use the translate() method on the input_string using the translation table.this will remove all characters that are present in the string punctuation .
- the result is the cleaned string with all punctuation removed which we return .
- we provide an example string input_str containing panctuation .
- we call the remove_panctuation() function to remove panctuation from the input string and store the result in cleaned_string
- finally , we print the both the original and cleaned strings using print() statements.

### 38. Check if a string contains only digits.

In [7]:
def chek_string(input_string):
    return input_string.isdigit()
string1="1234"
string2="hello world232"
string3="4561.493"

result1=chek_string(string1)
result2=chek_string(string2)
result3=chek_string(string3)

print("string1 only contains digits",result1)
print("string1 only contains digits",result2)
print("string1 only contains digits",result3)

string1 only contains digits True
string1 only contains digits False
string1 only contains digits False

- we define the function def chek_string(input_string):- that takes one arguments input_string ( that we want to check the string have digits or not ).
- return the input_string.isdigit() - to chek the string have contaions digits or not and stores the result inside result1,result2,result3 .
- we provide three difrent-difrent example string1,string2, string3..
- finally we print the results by using print() statements.

### 39. Check if a string contains only alphabets.

In [9]:
def chek_string_only_alphabates(input_string):
    return input_string.isalpha()
string1="hello1234"
string2="123456789"
string3="hi"

result1=chek_string_only_alphabates(string1)
result2=chek_string_only_alphabates(string2)
result3=chek_string_only_alphabates(string3)


print("string1 have only alphabates ",result1)
print("string2 have only alphabates",result2)
print("string3 have only alphabates", result3)

string1 have only alphabates  False
string2 have only alphabates False
string3 have only alphabates True

- we define the function def chek_string(input_string):- that takes one arguments input_string ( that we want to check the string ihave alphabates  or not ).
- return the input_string.isalpha() - to chek the string have contaions alphabates or not and stores the result inside result1,result2,result3 .
- we provide three difrent-difrent example string1,string2, string3..
- finally we print the results by using print() statements.

### 40. Convert a string to a list of characters.

In [12]:
input_string = "hi hello"
converted_string = list(input_string)

In [13]:
converted_string

['h', 'i', ' ', 'h', 'e', 'l', 'l', 'o']

- we create the input_string 
- we converted input string into a list and stores inide the converted_string variable.
- we call the converted_string variable and see the result as list of characters .

### 41. Check if two strings are anagrams.

In [7]:
def are_anagrams(str1,str2,):
    str1=str1.replace(" ","").lower()
    str2=str2.replace(" ","").lower()
    return sorted (str1)==sorted(str2)

string1="hello"
string2="cart  horse"
string3="orchestra"

result1= are_anagrams(string1,string2,)
result2= are_anagrams(string2,string3,)

print("string1 and string2 are anagrams",result1)
print("string2 and string3 are anagrams",result2)

string1 and string2 are anagrams False
string2 and string3 are anagrams True

- `def are_anagrams(str1,str2,)`:we define a function that takes two arguments one is str1 and another is str2 
- inside the function we remove spaces and convert both strings to lowercase using replace() and lower() methods .this ensure that space and letter case do't affect the anagram check.
- we then sort the characters in both cleaned strings using the sorted() function .
- we use the `==` to operator to compare the sorted string . if sorted string are equal , the orginal strings are anagrams  .
- we provide example strings ,string1,string2,string3.
- we call the are_anagrams() function for each pair of string check if they are anagrams and store the result1 and result2.
- finally we print the results using print() statements .

### 42. Encode a string using a Caesar cipher.

In [8]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

- The code defines a function caesar_cipher that encodes a string using a Caesar cipher with a given shift value.
- The text parameter represents the input string to be encoded, and the shift parameter represents the number of positions each letter should be shifted.
- Inside the function, an empty string named encoded_text is initialized to store the encoded characters.
- The function iterates through each character in the input text using a loop.
- It checks if the current character is alphabetic using the isalpha() method.
- If the character is alphabetic, it calculates the encoded character's Unicode code point value. It shifts the original character's Unicode value by shift, wraps it around within the lowercase alphabet range (from 'a' to 'z'), and converts it back to a character using the chr() function.
- If the character is non-alphabetic, it remains unchanged.
- The encoded character is added to the encoded_text string.
- The function returns the final encoded_text after iterating through all characters.
- Outside the function, an input text and a shift value of 3 are defined.
- The caesar_cipher function is called with the provided text and shift values, and the result is stored in the variable encoded_text.
- Finally, the encoded text is printed using the print() function.

### 43. Decode a Caesar cipher encoded string.

In [11]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

### 44. Find the most frequent word in a string.

In [12]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

- We import the re module for regular expressions and the Counter class from the collections module to count word frequencies.
- We define a function most_frequent_word(input_string) that takes a string as input.
- Inside the function, we use the re.sub() method to remove punctuation from the input string and convert it to lowercase. The regular expression [^\w\s] matches any character that is not a word character (\w) or whitespace (\s).
- We then split the cleaned string into individual words using the split() method.
- We use the Counter class to count the frequencies of each word in the list of words.
- We find the most common word using the most_common() method of the Counter object. This method returns a list of tuples, where each tuple contains the word and its frequency. We extract the word from the most common tuple.
- Finally, we return the most common word.
- We provide an example string input_str.
- We call the most_frequent_word() function to find the most frequent word in the input string and store the result in most_common.
- We print the most frequent word using a print() statement.

## 45.find all unique words in a string .

In [15]:
import re 


def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]','',input_string).lower()
    
    words = set(clean_string.split())
    return words

input_str = "hello world ,hello there! how's the world?"

unique_word_set = unique_words(input_str)
print("unique words" , unique_word_set)

unique words {'hows', 'there', 'the', 'world', 'hello'}

- We import the re module for regular expressions.
- We define a function unique_words(input_string) that takes a string as input.
- Inside the function, we use the re.sub() method to remove punctuation from the input string and convert it to lowercase, similar to the previous example.
- We split the cleaned string into individual words using the split() method.
- We convert the list of words into a set using the set() constructor. This automatically removes duplicate words, giving us only the unique words.
- Finally, we return the set of unique words.
- We provide an example string input_str.
- We call the unique_words() function to find the unique words in the input string and store the result in unique_word_set.
- We print the set of unique words using a print() statement.

### 46. Count the number of syllables in a string.

In [17]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

### 47. Check if a string contains any special characters.

In [24]:
import re 

def contains_special_characters(input_string):
    
    pattern= re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,./?~\\/]')
    
    match = pattern.search(input_string)
    
    return bool(match)
string1 = "hello ,world!"
string2 = "thisis a test"
string3 = "special@characters"



result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print("hello,world! contains special case characters",result1)
print("thish is a test contains special case characters",result2)
print("special@characters contains special case characters",result3)

hello,world! contains special case characters True
thish is a test contains special case characters False
special@characters contains special case characters True

- we import re module for regular expressions.
- we define a function contains_special_characters(input_string) that takes a string as input .
- inside the function ,we define a regular expression pattern using re.compile() that matches the set of special charcaters using square brickets[....].
- The pattern r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/] matches a variety of special characters. You can customize this pattern to match the specific special characters you're interested in.
- We use the search() method of the pattern to find a match in the input string.
- If a match is found, the search() method returns a match object, which evaluates to True when converted to a boolean using bool(match). If no match is found, it evaluates to False.
- We return the result of the boolean conversion, indicating whether special characters are found.
- We provide example strings string1, string2, and string3.
- We call the contains_special_characters() function for each string to check if it contains any special characters and store the results in result1, result2, and result3.
- Finally, we print the results using print() statements.
- This code will check whether a given string contains any special characters based on the defined regular expression pattern.

### 48. Remove the nth word from a string.

In [6]:
 def remove_nt_word(input_string,n):
        words = input_string.split()
        
        
        if n>= 1 and n<=len(words):
            removed_word = words.pop(n  -  1)
            
            modified_string = ' '.join(words)
            
            return modified_string , removed_word
        else:
            return None ,None  
input_string =" this is an example sentence to test the function "
n_value = 4 
modified_string,removed_word = remove_nt_word( input_string ,n_value)



print("original value" , input_string)
if modified_string is not None :
    print("Modified string:", modified_string)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

original value  this is an example sentence to test the function
Modified string: this is an sentence to test the function
Removed word: example

- We define a function remove_nth_word(input_string, n) that takes an input string and an integer n as input.
- Inside the function, we split the input string into individual words using the split() method. This creates a list called words containing the words from the string.
- We check if the provided value of n is within a valid range. We ensure that n is greater than or equal to 1 and less than or equal to the total number of words in the words list.
- If n is within a valid range, we proceed to remove the nth word from the list using the pop() method. The pop() method returns the removed word, which we store in the variable removed_word.
- We then join the remaining words in the list to form a modified string using the join() method, and store the result in the variable modified_string.
We return both the modified_string and removed_word as a tuple.
- If n is not within a valid range, we return None for both modified_string and removed_word.
- We provide an example input string input_str and an n_value to indicate the position of the word to be removed.
- We call the remove_nth_word() function to remove the nth word from the input string and store the modified string and removed word in the variables modified_str and removed_word.
- Finally, we print the original string and either the modified string and removed word or an "Invalid n value." message using print() statements.

### 49. Insert a word at the nth position in a string.

### 50. Convert a CSV string to a list of lists.

In [11]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

- We define a function csv_string_to_list(csv_string) that takes a CSV string as input.
- Inside the function, we split the CSV string into individual lines using the split('\n') method. This creates a list called lines containing each line of the CSV data.
- We initialize an empty list called result to store the final list of lists.
- We iterate through each line in the lines list using a for loop.
- For each line, we split it into fields using the split(',') method. This creates a list called fields containing the individual values separated by commas.
- We append the fields list to the result list, effectively creating a list of lists where each inner list represents a row of data.
- After iterating through all lines, we return the result.
- We provide an example CSV string csv_data containing multiple rows and columns of data.
- We call the csv_string_to_list() function to convert the CSV string to a list of lists and store the result in list_of_lists.
- Finally, we use a for loop to iterate through list_of_lists and print each row of data using print() statements.

## **List based practice problem :**

### 1. Create a list with integers from 1 to 10.

In [15]:
inteser_list = [ i for i in range(1,11)]

print(inteser_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- we use a list comprihension -to generate the list from 1-10
- we call the print function and print it

### 2. Find the length of a list without using the `len()` function.

In [23]:
def coustum_list(input_list):
    count= 0
    for i in input_list:
        count+=1
    return count
my_list = [ 20, 21 ,22, 23 ,24 ,25 ,26]
length = coustum_list(my_list)
print("length of the list",length)

length of the list 7

- we define a function custom_list(input_list): that takes one arguments 
- inside the function we initialize a variable count to keep track of the number of elements in the list 
- we use  for loop to iterate through each element in the input_list 
- we use an i as the loop variable name since we're not using it within the loop .
- inside the loop,for each element ,we increment count by 1 . after the loop completes ,we return the final value of count as the length of the list .
- we providing example of list my_list containing elements .
- we call the custom_list() function to find the length of the list using the custom approach and store the result in the variable length .
- finally we print the length of the list by using print statements .

### 3. Append an element to the end of a list.

In [36]:
old_list = [40,41,42,43,44]
 
old_list.append(45)

print("new list",old_list)

new list [40, 41, 42, 43, 44, 45]

 - fist of all we crate the old_list ,thats we want to append 45.
 - we use the apped function to append an element 45 to the end of a list 
 - finally we print the new  list using the print() statements .

### 4. Insert an element at a specific index in a list.

In [35]:
old_list = [40,41,42,43,44]
 
old_list.insert(2,45)

print("new list",old_list)

new list [40, 41, 45, 42, 43, 44]

 - fist of all we crate the old_list ,thats we want to insert 45.
 - we use the insert function to insert an element 45 to the second index of a list 
 - finally we print the new list using the print() statements .

### 5. Remove an element from a list by its value.

In [40]:
old_list = [40,41,42,43,44]
 
old_list.remove(44)
removing_element = 44
print("new list",old_list)

new list [40, 41, 42, 43]

- we startes with an example old_list containing some elements .
- we have an removing_element(44), that we want to remove from old_list by its value.
- we use the remove() method to remove specific element from old_list.
- after using the remove() operation,old_list will be updated with the specific element removed.
- we print the new list by using the print() statements .

### 6. Remove an element from a list by its index.

In [45]:
list_=[42,43,44,45,46]

removing_element=44

list_.pop(2)

print("new list",list_)

new list [42, 43, 45, 46]

- we startes with an example list_ containing some elements .
- we have an removing_element(44), that we want to remove from list_ by particular index value .
- we use the pop() method to remove specific element from list_ from  perticular index.
- after using the pop() operation,list_ will be updated with the particuler index element removed.
- we print the new list by using the print() statements .

### 7. Check if an element exists in a list.

In [51]:
my_list = [40,41,42,43,45]

cheking_element = 40

if cheking_element in my_list:
    print("cheking element is present inside list",cheking_element)
else:
        print("cheking element is not present inside list",cheking_element)

cheking element is present inside list 40

- we startes with an example my_list contains some elements .
- we have an cheking_element ,that we want to check the cheking_element present inside the list or not .
- we use the if function to check the cheking_element is present inside my_list or not ,if cheking element is present inside my_list then print the cheking elemet is present inside the list ,else not function will be print .

### 8. Find the index of the first occurrence of an element in a list.

In [62]:
my_list = [40,41,42,43,45,41,42,45]

index_of_the_first_occurrence = 41

index = my_list.index(index_of_the_first_occurrence)

print("the index of the first occurrence of an element in a list",index)

the index of the first occurrence of an element in a list 1

- We start with an example list my_list containing some elements.
- We specify the element for which we want to find the index using the index_of_the_first_occurrence.
- We use the index() method on the list to find the index of the first occurrence of the index_of_the_first_occurrence.
- We print the index using the print() statement.

### 9. Count the occurrences of an element in a list.

In [65]:
my_list = [40,41,42,43,45,41,42,45]

index_of_the_first_occurrence = 41

index = my_list.count(index_of_the_first_occurrence)

print("the index of the first occurrence of an element in a list",index)

the index of the first occurrence of an element in a list 2

- We start with an example list my_list containing some elements.
- We specify the element for which we want to count the occurrences of an element using the index_of_the_first_occurrence.
- We use the count() method on the list to find the occurrence of the index_of_the_first_occurrence.
- We print the index using the print() statement.

### 10. Reverse the order of elements in a list.

In [4]:
my_list = [40,41,42,43,45,41,42,45]

my_list.reverse()

print(my_list)

[45, 42, 41, 45, 43, 42, 41, 40]

- We start with an example list my_list containing some elements.
- we using the reverse() functio to reverse the string.
- finally print the list using print() statements

### 11. Sort a list in ascending order.

In [5]:
my_list = [40,41,42,43,45,41,42,45]

my_list.sort()

print(my_list)

[40, 41, 41, 42, 42, 43, 45, 45]

- we starts with an example list my_list containing some elements .
- we use the sort() method on the list to sort the elements in ascending order in-place .
- after the sort() operation the my_list will be updated with the elements sorted in ascending order.
- we print the sorted list using the print() method .

### 12. Sort a list in descending order.

In [6]:
my_list = [40,41,42,43,45,41,42,45]

my_list.sort(reverse=True)

print(my_list)

[45, 45, 43, 42, 42, 41, 41, 40]

- we starts with an example list my_list containing some elements .
- we use the sort() method on the list with reverse parameter set to True to sort the elements in descending order in - place .
- after the sort() operation the my_list will be updated with the elements sorted in descending order .

### 13. Create a list of even numbers from 1 to 20.

In [16]:
list_of_numbers=[i for i in range(2,21,2)]

print(list_of_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

- we use th list comprihension to genrate the even number from 1 to 20
- the expression [i from i in range(2,21,2)] iterates over the range of numbers from 2 - 20 with a step of 2 (to include only even number )
- for each even number x in range it adds x to the list .
- the resulting list store in the list_of_numbers.
- we print the result using the print() statements .

### 14. Create a list of odd numbers from 1 to 20.

In [24]:
list_of_odd_numbers=[i for i in range(1,21,2)]

print(list_of_odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

- we use th list comprihension to genrate the odd number from 1 to 20
- the expression [i from i in range(1,21,2)] iterates over the range of numbers from 2 - 20 with a step of 2 (to include only odd number )
- for each odd number x in range it adds x to the list .
- the resulting list store in the list_of_odd_numbers.
- we print the result using the print() statements .

### 15. Find the sum of all elements in a list.

In [27]:
my_list = [41,42,43,44,45]

total_sum = sum(my_list)

print(total_sum)

215

- we startes with the list example contains some elements .
- we use the sum function for the sumation of each element and store in the variable of total_sum .
- we use the print() statements to print the total_sum .

### 16. Find the maximum value in a list.

In [29]:
my_list = [41,42,43,44,45]

maximum_value = max(my_list)

print("maximum value in list ",maximum_value)

maximum value in list  45

- we startes with the list example contains some elements .
- we use the max function to check the maximum value in my_list.
- we use the print() statements to print maximum value .

### 17. Find the minimum value in a list.

In [31]:
my_list = [41,42,43,44,45]

minimum_value = min(my_list)

print("maximum value in list ",minimum_value)

maximum value in list  41

- we startes with the list example contains some elements .
- we use the min function to check the minimum value in my_list.
- we use the print() statements to print maximum value .

### 18. Create a list of squares of numbers from 1 to 10.

In [34]:
list_of_sqares_of_numbers =[ i**2 for i in range(1,10,)]

print(list_of_sqares_of_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- we startes with the list comprehension to generate the list of squares .
- the expression ` list_of_sqares_of_numbers =[ i**2 for i in range(1,10,)] `: iterates over the range of number from 1-10
- for each number i in the range calculate i**2 and add in the list 
- we use the print() statements to print square of the value .

### 19. Create a list of random numbers.

In [45]:
import random 
#example 1st random list of floating points 

random_floating_point = [ random.random() for i in range(10)]

##example 2nd random list of intesers 

random_intesers = [ random.randint(1,200) for i in range(20)]

print("example 1st random list of floating points ",random_floating_point)
print("example 2nd random list of numbers",random_intesers)

example 1st random list of floating points  [0.8173316019642098, 0.02154129141819927, 0.03467096975628303, 0.36805687654344277, 0.4158374277856415, 0.7336927839706653, 0.3696871192101071, 0.203343967320325, 0.5295531902181986, 0.5204634453419135]
example 2nd random list of numbers [20, 46, 24, 56, 197, 57, 112, 179, 50, 13, 167, 55, 185, 64, 77, 15, 65, 141, 132, 115]

- we startes with the random module at the bigning of the code .
- use a list comprehension to genrate the list of random numbers .
- we takes the two example in 1st example the expression [random.random() for i in range(10)] genrate a list 10 floating point numbers .
- in 2nd example the expression [ random.randint(1,200) for i in range(20)] genrate a list 20 inteser number.
- we use the print() statements for print the random numbers .

### 20. Remove duplicates from a list.

In [52]:
list_=[1,2,1,4,5,6,5,8,8,9,7,9]

#we convert list_ into set and then convert set into list 

remove_duplicate = list(set(list_))

                        
print("removed duplicate list",remove_duplicate)

removed duplicate list [1, 2, 4, 5, 6, 7, 8, 9]

- we starte with the list example contains some elemnets .
- we use the set function to convert the list into set b/c set function not allows dublicay of elements .
- after using the set function we use the list function to convert the set into list b/c removes dublicate from a list .
- we print the removed duplicate list using the print() statements .

### 21. Find the common elements between two lists.

In [93]:
def common_member(a,b):
    result = [i for i in a if i in b]
    return result
a = [1,2,3,4,5,8,8]
b = [1,9,6,2,4,7,5]

print("the common elements in the two lists are :",common_member(a,b))

the common elements in the two lists are : [1, 2, 4, 5]

- we define function that takes two arguments(a,b),(that we want to check the common element in the two list .
- ` result = [i for i in a if i in b]`: we use the for loop to iterate a each common element in the list . 
- we use the two list for comparision of both list .
- we return a result .
- we use the print() statements to print the common element list.

### 22. Find the difference between two lists.

In [92]:
a = [1,2,3,4,5,8,8]
b = [1,9,6,2,4,7,5]

result = list(set(a).difference(b))
              
print(result)

[3, 8]

- we startes with the example lists a and b which contains some elements .
- we use the difrence() method on the set created from list a to find the elememts that are not present inlist b.
- we convert the resulting set back to a list using list() constructor to get the diffrence .
- the resulting list of diffrence store in the result variable .
- we print the diffrence by using the print() statements .

### 23. Merge two lists.

In [89]:
a = [1,2,3,4,5,8,8]
b = [1,9,6,2,4,7,5]

merg_list =a+b

print("merg list",merg_list)

merg list [1, 2, 3, 4, 5, 8, 8, 1, 9, 6, 2, 4, 7, 5]

- we startes with the example of list a and b (that we want to merg to a and b together ).
- we use the addition parametor to merg the list a and b.
- we print the merg list by using the print() statements .

### 24. Multiply all elements in a list by 2.

In [91]:
list_ = [1,2,3,4,5,8,8]

multiplyed_list = [ i**2 for i in list_]

print("multiplyed list :",multiplyed_list)

multiplyed list : [1, 4, 9, 16, 25, 64, 64]

- we startes with example of list contains some elements , that we want to multiplyed by 2
- we use a list comprihension to iterate through each element in list_
- for each element we multiyed by 2 (i**2) and add the result in the multiplyed_list.
- We print the multiplied list using the print() statement.

### 25. Filter out all even numbers from a list.

In [11]:
list_ = [1,2,3,4,5,8,8]

for i in list_:
    if i%2==0:
        print(i)

2
4
8
8

- we starts example list_ that takes some elements .
- we use the for loop for iterate one by one one by one even numbers from a list over their if condition .
- we stores even numbers inside the i 
- we print the even numbers using the print() statements .

### 27. Convert a list of integers to a list of strings.

In [45]:
list_of_integers = [1 ,2 ,3, 4, 5, 6]

list_of_string = [str(i) for i in list_of_integers]
      

print("list of string:",list_of_string)

list of string: ['1', '2', '3', '4', '5', '6']

- we startes with the example of intgser list that takes some integer data.
- for each integer we use the str() function to convert integer list to string list .
- we use the list comprehension to iterate through each intger in list_of_integers.
- the resulting list of string is stored in the variable list_of_string.
- we print the list of string by using the print() statements.

### 28. Flatten a nested list.

In [46]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

- We start with an example nested list nested_list containing sublists.
- We define a function flatten_list() that takes a nested list as an argument.
- Inside the function, we initialize an empty list called flattened to store the flattened elements.
- We iterate through each element in the nested list.
- If an element is a sublist (i.e., it's an instance of the list type), we recursively call the flatten_list() function on that sublist and extend the flattened list with its flattened contents.
- If an element is not a sublist, we directly append it to the flattened list.
- After processing all elements, the function returns the flattened list.
We call the flatten_list() function on the nested_list to get the flattened list.
- We print the flattened list using the print() statement.

### 29. Create a list of the first 10 Fibonacci numbers.

In [47]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

- We define a function generate_fibonacci() that takes the parameter n to determine how many Fibonacci numbers to generate.
- Inside the function, we initialize a list called fibonacci_list with the first two Fibonacci numbers: 0 and 1.
- We use a loop that starts from the third Fibonacci number (index 2) up to the desired count n.
- In each iteration, we calculate the next Fibonacci number by adding the last two numbers in the fibonacci_list.
- We append the next Fibonacci number to the fibonacci_list.
- After generating all Fibonacci numbers, the function returns the fibonacci_list.
- We call the generate_fibonacci() function with the argument 10 to generate the first 10 Fibonacci numbers.
- We print the list of Fibonacci numbers using the print() statement.

### 30. Check if a list is sorted.
  
  - Checking for ascending order:

In [48]:
def is_sorted_ascending(lst):
    for i in range (1,len(lst)):
        if lst[i]<lst[i-1]:
            return False
        return True 
ascending_list = [10,20,30,40,50]
if is_sorted_ascending(ascending_list):
    print("the list is sorted in ascending order.")
else:
    print("the list is not sort in ascending order.")

the list is sorted in ascending order.

- We define a function is_sorted_ascending() that takes a list lst as an argument.
- Inside the function, we iterate through the list starting from the second element (i = 1) up to the last element.
- In each iteration, we compare the current element with the previous element (lst[i] < lst[i - 1]). If it's smaller, it indicates the list is not sorted in ascending order.
- If the loop completes without finding any out-of-order elements, the function returns True, indicating that the list is sorted in ascending order.

### 31. Rotate a list to the left by `n` positions.

In [49]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

- We define a function rotate_left() that takes a list lst and the number of positions n as arguments.
- Inside the function, we normalize n by taking the modulo of n with the length of the list. This handles cases where n is larger than the list length.
- We use list slicing to create the rotated list. We take elements from position n to the end (lst[n:]) and concatenate it with elements from the beginning to position n (lst[:n]).
- The resulting rotated list represents the original list rotated to the left by n positions.
- We return the rotated list from the function.
- In the example code, we have an example list my_list and specify the number of positions n to rotate by.
- We call the rotate_left() function to get the rotated list.
- We print the rotated list using the print() statement.

### 32. Rotate a list to the right by `n` positions.

In [50]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

- We define a function rotate_right() that takes a list lst and the number of positions n as arguments.
- Inside the function, we normalize n by taking the modulo of n with the length of the list. This handles cases where n is larger than the list length.
- We use list slicing to create the rotated list. We take elements from the last n positions to the end (lst[-n:]) and concatenate it with elements from the beginning to the position n from the end (lst[:-n]).
- The resulting rotated list represents the original list rotated to the right by n positions.
- We return the rotated list from the function.
- In the example code, we have an example list my_list and specify the number of positions n to rotate by.
- We call the rotate_right() function to get the rotated list.
- We print the rotated list using the print() statement.

### 33. Create a list of prime numbers up to 50.

In [51]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

- We define a function is_prime() that takes a number num as an argument and returns True if the number is prime and False otherwise. The function uses a primality testing algorithm based on the fact that prime numbers greater than 3 can be written in the form 6k  1.
- Inside the function, we handle some base cases (numbers less than or equal to 3), and then we use a loop to check divisibility by numbers in the form of 6k  1.
- We define a list comprehension to generate the list of prime numbers. The comprehension iterates through the numbers from 2 to 50 and includes the number in the list if it is prime according to the is_prime() function.
- The resulting list of prime numbers is stored in the variable prime_numbers.
- We print the list of prime numbers using the print() statement.

### 34. Split a list into chunks of size `n`.

In [52]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

- We define a function sieve_of_eratosthenes() that takes a limit as an argument and returns a list of prime numbers up to the limit.
- Inside the function, we initialize two lists: primes to store the prime numbers and is_prime as a boolean list to mark whether a number is prime or not.
- We iterate through the numbers from 2 to the square root of the limit. For each number, if it's marked as prime (is_prime[num] is True), we add it to the primes list and mark its multiples as not prime.
- After the first loop, we iterate through the remaining numbers from the square root of the limit to the limit. If a number is marked as prime, we add it to the primes list.
- We call the sieve_of_eratosthenes() function with the argument 50 to generate the list of prime numbers up to 50.
- We print the list of prime numbers using the print() statement.

### 35. Find the second largest number in a list.

In [53]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

- We start with an example list my_list containing numbers.
- We remove duplicates from the list using the set() function.
- We sort the list in ascending order using the sorted() function.
- We check if the sorted list has at least two elements. If it does, we access the second-to-last element using negative indexing (sorted_list[-2]) to get the second largest number.
- If the list has fewer than two elements, we print a message indicating that the list does not contain enough elements to find the second largest.
- We print the second largest number using the print() statement.

### 36. Replace every element in a list with its square.

In [60]:
my_list = [10, 5, 20, 15, 30, 25]

square_list = [i**2 for i in my_list]

print("sqared list :",square_list)

sqared list : [100, 25, 400, 225, 900, 625]

- we startes with list example taht takes some elemnets .
- we use the list comprehension to square of each element in list 
- we print the sqare of list by using the print() statements

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [67]:
my_list = ['name','rool no','seat no']

my_dict = {element :index for element,index in enumerate(my_list)}

print(my_dict)

{0: 'name', 1: 'rool no', 2: 'seat no'}

- We start with an example list my_list containing elements.
- We use a dictionary comprehension to iterate through each element and its corresponding index in the list.
- For each element and index pair, we create a key-value pair in the dictionary, where the element becomes the key and the index becomes the value.
- The resulting dictionary is stored in the variable my_dict.
- We print the converted dictionary using the print() statement.

### 38. Shuffle the elements of a list randomly.

In [73]:
import random

my_list = [10,11,12,13,14,15,16,17]

random_list = random.shuffle(my_list)

print("shuffle the element randomly: ",my_list)

shuffle the element randomly:  [17, 12, 11, 14, 15, 10, 13, 16]

- we import the random module to acess the shuffle() function.
- we startes with the example list my_list contains some elememts .
- we use the random.shuffle() function to shuffle the elements randomaly .
- the orginal order of list modified and elements arranged randomaly.
- we print the shuffle list by using print() statements

### 39. Create a list of the first 10 factorial numbers.

In [78]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial_no = [factorial(i)for i in range(10)]
    
print("factorial no :",factorial_no)

factorial no : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

- we define a function factorial(n) that takes an integer n as an arguments and calculate the factorial of using recursion.
- inside the function we handle base cases where n is 0 or 1 and in other cases we calculate n times the factorial n-1
- we use a list comprehension to generate the list of the fist 10 factorial no . we iterate through range of the numbers from 0 to 9 and calculate the factorial for each number .
- the resulting list of factorial numbers is stored in the variable factorial_no .
- we print the list of factorial no by using the print() statements .

### 40. Check if two lists have at least one element in common.

In [81]:
def common_member(a,b):
    result = [i for i in a if i in b]
    return result
a = [1,2,4,6,8]
b = [1,3,5,7,9]

print("two lists have at least one element in common :",common_member(a,b))

two lists have at least one element in common : [1]

- we define function that takes two arguments(a,b),(that we want to check the common element in the two list .
- ` result = [i for i in a if i in b]`: we use the for loop to iterate a each common element in the list . 
- we use the two list for comparision of both list .
- we return a result .
- we use the print() statements to print the common element list.

### 41. Remove all elements from a list.

In [82]:
my_list =[1,2,4,6,8]

removed_list = my_list.clear()

In [83]:
my_list

[]

- we startes with the example of list my_list that takes some elements .
- we use the clear() function to remove all elements from my_list
- we call the my_list , approach will result in an empty list .

### 42. Replace negative numbers in a list with 0.

In [89]:
my_list = [1,-2,3,-4,5,-6,7,-8]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i]=0
        
        
print("list after replacing negativ numbers ",my_list)

list after replacing negativ numbers  [1, 0, 3, 0, 5, 0, 7, 0]

- We start with an example list my_list containing both positive and negative numbers.
- We use a for loop to iterate through the indices of the list using the range() function.
- Inside the loop, we check if the element at index i is less than 0 (negative).
- If it is negative, we replace the element at index i with 0.
- After iterating through all elements, the list will have negative numbers replaced with 0.
- We print the modified list using the print() statement.

### 43. Convert a string into a list of words.

In [4]:
my_string = "this is my second python assingement "


modified_string = my_string.split()


print("modified string into a list of word:",modified_string)

modified string into a list of word: ['this', 'is', 'my', 'second', 'python', 'assingement']

- we startes with the string example ,thats we want to convert into a list of words .
- we use the split() function to split the string into  a list of words .
- we print the modified string into a list by using the print() statements .

### 44. Convert a list of words into a string.

In [6]:
my_list = ['this', 'is', 'my', 'second', 'python', 'assingement']


modified_list = " ".join(my_list)

print("list of word into a string :",modified_list)

list of word into a string : this is my second python assingement

- we startes with the example list my_list containing indivisual words .
- we use the join() method on a string to join the indivisual word of list into a single string 
- the join() method takes the list of words as a srguments and return a string where the words are joined specified separator .
- we use the print() statements to print the list of word into a string .

### 45. Create a list of the first `n` powers of 2.

In [10]:
list_of_first_n_powers = [i**2 for i in range (10)]


print("a list of the first n powers of 2:",list_of_first_n_powers)

a list of the first n powers of 2: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- we use the list comprehension to calculate the power of 2 for each value of i from 0 to 9.
- we use the print() method to print the list_of_first_n_powers.

### 46. Find the longest string in a list of strings.

In [19]:
string_list = [ "avneesh verma", "rahul verma","ravi verma"]

longest_string = ""

for i in string_list:
    if len(i) > len(longest_string):
        longest_string = i 
print("longest string :",longest_string)

longest string : avneesh verma

- we startes with the example list string_list contains string of diffrent length.
- we create the longest_string variable with empty string .this variable will store the longest string found in the list .
- we use the for loop to iterate through each string i in the list .
- inside the loop we compare the length of current string i with the length of the longest_string .if the length of i is grater we update longest_string to be the current string s .
- We print the longest string using the print() statement.

In [24]:
string_list = [ "avneesh verma", "rahul verma","ravi verma"]

shortest_string = string_list[0]

for i in string_list:
    if len(i) < len(shortest_string):
        shortest_string = i 
print("shortest string :",shortest_string)

shortest string : ravi verma

- We start with an example list string_list containing strings of different lengths.
- We initialize the variable shortest_string with the first string in the list. - This variable will store the shortest string found in the list.
- We use a for loop to iterate through each string i in the list.
- Inside the loop, we compare the length of the current string s with the length of the shortest_string. If the length of i is smaller, we update shortest_string to be the current string i.
- After iterating through all strings in the list, the variable shortest_string will contain the shortest string.
- We print the shortest string using the print() statement.

### 48. Create a list of the first `n` triangular numbers.

In [26]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

- We define a function triangular_numbers() that takes an integer n as an argument.
- Inside the function, we use a list comprehension to calculate the triangular numbers for each value of i from 1 to n.
- The formula to calculate the nth triangular number is n * (n + 1) // 2.
- We specify the value of n, which indicates the number of triangular numbers to generate.
- We call the triangular_numbers() function with the value of n to create the list of triangular numbers.
- We print the list of triangular numbers using the print() statement.

### 49. Check if a list contains another list as a subsequence.

In [27]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

- We define a function is_subsequence() that takes two lists as arguments: subsequence (the list to check for as a subsequence) and main_list (the list to search for the subsequence in).
- Inside the function, we use an index subseq_index to keep track of the matching elements in the subsequence.
- We iterate through the elements of the main_list.
- For each element in main_list, we compare it with the current element in the subsequence.
  - If the elements match, we increment the subseq_index to check the next element in the subsequence.
  - If the subseq_index reaches the length of the subsequence, it means the subsequence has been completely matched, and we return True.
  - If we finish iterating through the main_list without completely matching the subsequence, we return False.
- In the example code, we have an example main_list and subsequence.
- We call the is_subsequence() function to check if the main list contains the subsequence.
- We print the result using the print() statement.

### 50. Swap two elements in a list by their indices.

In [28]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

- We start with an example list my_list containing elements.
- We specify the indices index1 and index2 of the elements to swap.
- We use a temporary variable temp to hold the value of the element at index1.
- We assign the value of the element at index2 to the element at index1.
- We assign the value of the temporary variable temp (which holds the original value of the element at index1) to the element at index2, effectively swapping the values.
- After the swap, the elements at the specified indices have been swapped.
- We print the list after swapping using the print() statement.

## **Tuple based practice problem :**

---

### 1. Create a tuple with integers from 1 to 5.

In [58]:
my_tuple = ()
for i in range(1,6):
    my_tuple = my_tuple + (i,)
print("tuple with integers :",my_tuple)

tuple with integers : (1, 2, 3, 4, 5)

- we create the my_tuple variable as an empty tuple.
- we use the for loop to iterate throug each tuple from the i .
- we use the range function to create the tuple 1 to 5 .

### 3. Find the length of a tuple without using the `len()` function.### 2. Access the third element of a tuple.

In [62]:
my_tuple = (1, 2, 3, 4, 5)

acess_element = my_tuple[2]

print("third element of the tuple is:",acess_element)

third element of the tuple is: 3

- We start by creating a tuple named my_tuple with five elements: 10, 20, 30, 40, and 50.
- To access elements of a tuple, we use square brackets [] with the index of the element we want to access. Tuples are zero-indexed, so the third element has an index of 2.
- We store the value of the third element (30) in the variable third_element.
- Finally, we use the print function to display a message along with the value of the third element of the tuple.

### 3. Find the length of a tuple without using the `len()` function.

In [66]:
my_tuple = (1, 2, 3, 4, 5)

count = 0 

for i in my_tuple:
    count = count+1
    
print(count)

5

- we starts with the example tuple my_tuple contains some elements .
- we use a for loop to iterate through each element in the tuple 
- inside the loop we increment the count variable by 1 for each element in the tuple .

### 4. Count the occurrences of an element in a tuple.

In [76]:
my_tuple = (1, 2, 3, 4,7,5,6644,844,4,4, 5)

element_to_count = 4

count = 0

for i in my_tuple:
    if i == element_to_count:
        count = count+1
        
        
print(" occerence of element 4 in my_tuple:",count)

 occerence of element 4 in my_tuple: 3

- We start by creating a tuple named my_tuple with several elements, including multiple occurrences of the element we want to count.
- We choose the element to count occurrences of. In this example, we'll count occurrences of the element 20.
- We initialize a variable named count to keep track of the number of occurrences of the chosen element. This variable starts with a value of 0.
- We use a for loop to iterate through each element in the tuple.
- Inside the loop, we use an if statement to check if the current element item is equal to the element we want to count (element_to_count). If they are equal, we increment the count variable by 1.
- After the loop completes, we use the print function to display a message along with the value of the count variable, indicating how many times the chosen element appears in the tuple.

### 5. Find the index of the first occurrence of an element in a tuple.

In [77]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

- We start by creating a tuple named my_tuple with several elements, including the element for which we want to find the first occurrence.
- We choose the element for which we want to find the index. In this example, we'll find the index of the element 20.
- We initialize a variable named index with a value of -1. This value indicates that the element was not found in the tuple initially.
- We use a for loop along with the enumerate function to iterate through the tuple. The enumerate function provides both the index i and the element item in each iteration.
- Inside the loop, we use an if statement to check if the current element item is equal to the element we want to find (element_to_find). If they are equal, we update the index variable with the value of the current index i and then exit the loop using the break statement.
- After the loop completes, we check if the index value has changed from its initial value of -1. If it has, we print the index of the first occurrence of the element. If not, we print a message indicating that the element was not found in the tuple.

### 6. Check if an element exists in a tuple.

In [82]:
my_tuple = (1, 2, 3, 4, 5)

element_to_check = 3


if element_to_check in my_tuple:
    print("this element is present in my tuple ",element_to_check)
else:
        print("this element is not present in my tuple")

this element is present in my tuple  3

- we startes with the tuple example my_tuple contains some element ,thats we want to check element 3 exist in my_tuple or not .
- whose element to check we store inside the element_to_check.
- we use the if and else statements .

### 7. Convert a tuple to a list.

In [84]:
my_tuple = (1, 2, 3, 4, 5)

converted_tuple_in_list = list(my_tuple)

print("convert a tuple in list:",converted_tuple_in_list)

convert a tuple in list: [1, 2, 3, 4, 5]

- we startes with the example of tuples my_tuple contains some elements . that we want to convert into a list .
- we store converted tuple inside the converted_tuple_in_list and print it .

### 8. Convert a list to a tuple.

In [85]:
my_lst =  [1, 2, 3, 4, 5]


conver_into_tuple = tuple(my_lst)


print("conver a list to a tuple :",conver_into_tuple)

conver a list to a tuple : (1, 2, 3, 4, 5)

- we startes with the example of list my_lst contains some elements . that we want to convert into a tuples .
- we store converted list inside the conver_into_tuple and print it .

### 9. Unpack the elements of a tuple into variables.

In [90]:
my_tuple =  (1, 2, 3, 4, 5)

var1,var2,var3,var4,var5 = my_tuple


print("var1:",var1)
print("var2:",var2)
print("var3:",var3)
print("var4:",var4)
print("var5:",var5)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5

- we starts with the example tuple my_tuple ,that contains five elements .
- we use the assign operator to assing the value in the different diffrent variable (var1,var2,var3,var4, var5)
- we use the print() statements to print it .

### 10. Create a tuple of even numbers from 1 to 10.

In [99]:
my_list = [ i for i in  range(2,11,2)]

tuple_of_even_no = tuple(my_list)

print("even numbers:",tuple_of_even_no)

even numbers: (2, 4, 6, 8, 10)

- we use the list comprehension to genrate  a list of even number.the range(2,11,2) genrates numbers starting from 2 and increasing by 2 up to .
- we convert the list into tuple by using tuple(my_list) this method .
- we print the tuples using print() statements .

### 11. Create a tuple of odd numbers from 1 to 10.

In [100]:
my_list = [ i for i in  range(1,11,2)]

tuple_of_odd_no = tuple(my_list)

print("odd numbers:",tuple_of_odd_no)

odd numbers: (1, 3, 5, 7, 9)

- we use the list comprehension to genrate  a list of odd numbers .the range(1,11,2) genrates numbers starting from 1 and increasing by 2 up to .
- we convert the list into tuple by using tuple(my_list) this method .
- we print the tuples using print() statements .

### 12. Concatenate two tuples.

In [102]:
tuple_1 = (1,2,3,4,5,6,7,8,9)
tuple_2 = (45,5,585,8585,8,2)

concatenate_tuple = tuple_1+tuple_2


print("concatenate tuples",concatenate_tuple)

concatenate tuples (1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 5, 585, 8585, 8, 2)

- we startes with the two example of tuples tuple_1 and tuple_2 (that we want to concatenate ).
- we use the concatenation operation to concatenate the tuple_1 and tuple_2.
- we print the concatenate_tuple by using print() statements .

### 13. Repeat a tuple three times.

In [104]:
original_tuple = (1,2,3,4,5,6,7,8,9)

repeated_tuple = original_tuple*3

print("Repeat a tuple three times:",repeated_tuple)

Repeat a tuple three times: (1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

- we startes with the tuple example original_tuple(that we want to repeat three times ).
- we use the * operator to repeat the tuple three times ,resulting in a new tuple named repeated_tuple.
- we print the repeated tuple using the print() statements .

### 14. Check if a tuple is empty.

In [108]:
tuple_1 = ()

tuple_2 = (4,6,5,6,6,1)


if not tuple_1:
    print("tuple_1 is empty")
else:
    print("tuple_1 is not empty")
    
if not tuple_2:
    print("tuple_2 is empty")
else:
    print("tuple_2 is not empty")

tuple_1 is empty
tuple_2 is not empty

- we create to tuples one is empty and one is not empty respectively tuple_1 and tuple_2.
- we use if not to check if tuple is empty . since an empty tuple evaluvate false , the fist print will be exicuted ,indicating the tuple_1 is empty .
- same approach apply for tuple_2 ,since an not empty tuple evaluvate true , the second print will be exicuted ,indicating the tuple_2 is not empty .

### 15. Create a nested tuple.

In [112]:
nested_tuple = ((4,5,5,5,5,5,)  ,  ('a','b','c')  ,  (True ,False ))
                
                
print("nested tuple:", nested_tuple)

nested tuple: ((4, 5, 5, 5, 5, 5), ('a', 'b', 'c'), (True, False))

- We create a nested tuple named nested_tuple that contains three tuples as its elements. Each of these inner tuples can have different data types.
- We print the nested tuple to see its structure.

### 16. Access the first element of a nested tuple.

In [113]:
nested_tuple = ((4,5,5,5,5,5,)  ,  ('a','b','c')  ,  (True ,False ))

acess_the_first_element = nested_tuple[0]

In [115]:
acess_the_first_element

(4, 5, 5, 5, 5, 5)

- We create a nested tuple named nested_tuple that contains three tuples as its elements. Each of these inner tuples can have different data types.
- we using the indexing concept (nested_tuple[0]) to acess the first element of a nested tuple  .
- we call the acess_the_first_element and see the result .

### 17. Create a tuple with a single element.

In [117]:
tuple_with_single_element = (855,)

print("tuple with a single elemen:",tuple_with_single_element)

tuple with a single elemen: (855,)

In [118]:
type(tuple_with_single_element)

tuple

- we create a tuple named tuple_with_single_element. the key here is to include the trailing comma after the element , which informs python that you want to crate a tuple with one element .
- we print the single element 
- we check the type of element to better understanding .

### 18. Compare two tuples.

In [125]:
tuple_1 = (1,2,3,4,5)
tuple_2 = (1,2,3,4,6)


print("tuple_1 == tuple_2:",tuple_1==tuple_2)
print("tuple_1 > tuple_2:",tuple_1>tuple_2)
print("tuple_1 < tuple_2:",tuple_1<tuple_2)
print("tuple_1 >= tuple_2:",tuple_1>=tuple_2)
print("tuple_1 != tuple_2:",tuple_1!=tuple_2)
print("tuple_1 <= tuple_2:",tuple_1<=tuple_2)

tuple_1 == tuple_2: False
tuple_1 > tuple_2: False
tuple_1 < tuple_2: True
tuple_1 >= tuple_2: False
tuple_1 != tuple_2: True
tuple_1 <= tuple_2: True

### 19. Delete a tuple.

In [126]:
tuple_1 = (1,2,3,4,5)


del tuple_1

In [127]:
tuple_1

NameError: name 'tuple_1' is not defined

- we create one tuple list named tuple_1
- we use the del function to deleting the complete tuple list.
- after deleting the tuple list it can show me name error b/c tuple is completely deleted .

### 20. Slice a tuple.

In [132]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)

slicing_tuple = tuple_1[3:12]

print("slicing tuple:",slicing_tuple)

slicing tuple: (4, 5, 6, 7, 8, 9, 10, 11, 12)

- first  of all we ceate the tuple example tuple_1 contains some elements .
- we use the slicing concept tuple_1[3:12],fist is index where i can startes slicing of data and 12 is number till what slicing of data .
- we slicing the data by using the print() statements .

### 21. Find the maximum value in a tuple.

In [143]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)

maxmium_value = max(tuple_1)


print("maximum value of tuple:", maxmium_value )

maximum value of tuple: 14

- first  of all we ceate the tuple example tuple_1 contains some elements .
- we use the max function to exit the maximum value of tuple from tuple_1 .
- we print the maximum value of tuple by using print() statements .

### 22. Find the minimum value in a tuple.

In [144]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)

minimum_value = min(tuple_1)


print("maximum value of tuple:", minimum_value)

maximum value of tuple: 1

- first  of all we ceate the tuple example tuple_1 contains some elements .
- we use the min function to exit the minimum value of tuple from tuple_1 .
- we print the minimum value of tuple by using print() statements .

### 23. Convert a string to a tuple of characters.

In [145]:
string = "india is a great country"

tuple_of_characters = tuple(string)


print("tuple_of_characters :",tuple_of_characters )

tuple_of_characters : ('i', 'n', 'd', 'i', 'a', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'c', 'o', 'u', 'n', 't', 'r', 'y')

- we starts with the example of string (that we want to convert a string to a tuple of characters ).
- we conver the string into the tuple of characters by using (tuple_of_characters = tuple(string)) this method .
- we print the tuple of character by using print() statements .

### 24. Convert a tuple of characters to a string.

In [1]:
tuple_of_characters = ('i', 'n', 'd', 'i', 'a', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'c', 'o', 'u', 'n', 't', 'r', 'y')

string = ''.join(tuple_of_characters)

print("tuple of characters to a string :",string)

tuple of characters to a string : india is a great country

- we start by creating a tuple named tuple_of_characters containg indivisual characters .
- we use the join() method ,which is called on an empty string ` "" ` to join the characters from the tuples and creating a single string .

### 25. Create a tuple from multiple data types.

In [147]:
mixed_tuple = (4,5,6,1,51.265,True ,False ,"india is a graet country ")

In [148]:
print(mixed_tuple)

(4, 5, 6, 1, 51.265, True, False, 'india is a graet country ')

- we start by creating a mixed tuple named mixed_tuple

### 26. Check if two tuples are identical.

In [154]:
tuple_1 = (1,2,3,4,5,6)
tuple_2 = (1,2,3,4,5,6)
tuple_3 = (741,852,52,52)


if tuple_1 ==tuple_2:
    print("tuple_1 is same as tuple_2")
else:
    print ("tuple_1 is not same as tuple_2")
    
if tuple_1==tuple_3:
    print("tuple_1 is same as tuple_3")
else:
    print ("tuple_1 is not same as tuple_3")

tuple_1 is same as tuple_2
tuple_1 is not same as tuple_3

- we start by craeting a tuples tuple_1 ,tuple_2 and tuple_3 .
- we check the multiple if else condition W/B tuple_1 ,tuple_2 and tuple_3

### 27. Sort the elements of a tuple.

In [156]:
tuple_3 = (741,852,52,52)

sorted_tuple = tuple(sorted(tuple_3))

print("sorted tuples:",sorted_tuple)

sorted tuples: (52, 52, 741, 852)

- we started with the tuple named tuple_3  ,contains randomoly numeric data.
- we use a sorted() function to sort the element of the tuple . the sorted() function returns a sorted list.
- we use the tuple() function to again into a tuple of list .
- we print a sorted tuples using print() statements .

### 28. Convert a tuple of integers to a tuple of strings.

In [164]:
tuple_1 = (1,2,3,4,5,6)


tuple_of_string = tuple(str (i) for i in  tuple_1)

print(tuple_of_string)

('1', '2', '3', '4', '5', '6')

- we start by creating a tuple named tuple_1 conatins integer elements .
- we use the list comprehension to iterate through each integer in the tuple and convrt it to string using str() function . the list comprehension generates the list of a string .
- we convert the list of strings to a tuple using tuple() function .
- we print the reult of string using print() statements .

### 29. Convert a tuple of strings to a tuple of integers.

In [165]:
tuple_string = ('1', '2', '3', '4', '5', '6')

tuple_of_integers = tuple(int (i) for i in tuple_string )

print(tuple_of_integers)

(1, 2, 3, 4, 5, 6)

- we start by creating a tuple of string  named tuple_string conatins string elements .
- we use the list comprehension to iterate through each string in the string and convrt it to tuple using int() function . the list comprehension generates the list of a string  .
- we convert the list of strings to a tuple using tuple() function .
- we print the reult of string using print() statements .

### 30. Merge two tuples.

In [1]:
tuple_1 = (1,2,3,4,5)
tuple_2 = (1,2,3,4,6)

merg_tuple = tuple_1+tuple_2

print("merg tupels ",merg_tuple)

merg tupels  (1, 2, 3, 4, 5, 1, 2, 3, 4, 6)

- we start with the two example of tuples named tuple_1 and tuple_2.
- we use the + operator to merg the both tupules  .
- we print the merg tuples using print() function.

### 31. Flatten a nested tuple.

In [2]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

- We define a recursive function named flatten_tuple that takes a nested tuple as input and returns a list of its flattened elements.
- Inside the function, we iterate through each element in the nested tuple. If an element is itself a tuple, we recursively call the flatten_tuple function on that element and extend the flattened list with its flattened elements. If the element is not a tuple, we append it to the flattened list.
- We create a nested tuple named nested_tuple with varying levels of nesting.
- We use the flatten_tuple function to convert the nested tuple into a flattened list and then convert the list back to a tuple using the tuple() constructor.
- We print the resulting flattened tuple.

### 32. Create a tuple of the first 5 prime numbers.

In [3]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

- We define a function is_prime(num) that checks whether a given number is prime. It returns True if the number is prime and False otherwise.
- We use a list comprehension to generate a list of prime numbers. The list comprehension iterates through numbers from 2 to 99 and selects the first 5 prime numbers using the is_prime() function.
- We convert the list of prime numbers to a tuple using the tuple() constructor.
- We print the resulting tuple of the first 5 prime numbers.

### 3. Check if a tuple is a palindrome.

In [4]:
def is_palindrom(tpl):
    return tpl == tpl[::-1]

palindropm_tuple = (1, 2, 3, 2, 1)

non_palindrom_tuple = (1,2,3,4,5)

is_palindrom_1 =is_palindrom ( palindropm_tuple )
is_palindrom_2 =is_palindrom (non_palindrom_tuple)

print("palindrome_tuple is apalindrom:",is_palindrom_1)
print("palindrome_tuple is apalindrom:",is_palindrom_2)

palindrome_tuple is apalindrom: True
palindrome_tuple is apalindrom: False

- We define a function is_palindrome(tup) that takes a tuple as input and returns True if the tuple is a palindrome (reads the same forwards and backwards), and False otherwise.
- Inside the function, we compare the input tuple tup with its reversed version using the slicing notation tup[::-1].
- We create two tuples, palindrome_tuple and non_palindrome_tuple, for testing.
- We call the is_palindrome() function on each tuple to check if they are palindromes.
- We print the results of the palindrome checks.

### 34. Create a tuple of squares of numbers from 1 to 5.

In [8]:
create_a_tuple_square = tuple( i**2 for i in range(1,6))


print("squre of tuples:",create_a_tuple_square)

squre of tuples: (1, 4, 9, 16, 25)

- We use a list comprehension to calculate the squares of numbers from 1 to 5. - The expression x ** 2 calculates the square of each number x.
- We convert the list of squares to a tuple using the tuple() constructor.
- We print the resulting tuple of squares.

### 35. Filter out all even numbers from a tuple.

In [10]:
tuple_1 = (1,2,33,4,5,6,7,8,9,10)

filter_out_tuple = tuple(i for i in tuple_1 if i %2==0)

print("even number:",filter_out_tuple)

even number: (2, 4, 6, 8, 10)

- we star by creating tuple named tuple_1 contains some inegers element .
- we use the  list comprehension to iterate through each number in the  tuple_1 . the conditional statements i%2==0 cheks the number is even .
- we use the tuple() function to convert list into a tuple .
- we print the resulting filtered tuple .

### 36. Multiply all elements in a tuple by 2.

In [12]:
tuple_1 = (1,2,33,4,5,6,7,8,9,10)

modified_tuple = tuple_1*2


print("multiplyed tuple elements :",modified_tuple)

multiplyed tuple elements : (1, 2, 33, 4, 5, 6, 7, 8, 9, 10, 1, 2, 33, 4, 5, 6, 7, 8, 9, 10)

- we star by creating tuple named tuple_1 contains some inegers element .
- we use the * operator to multiply of the tupeles .
- we print the resulting modified tuple .

### 37. Create a tuple of random numbers.

In [14]:
import random

random_tuple = tuple(random.randint(1,50) for i in range(10))


print("random tuple list:",random_tuple)

random tuple list: (49, 17, 12, 27, 44, 23, 19, 14, 2, 44)

- we import the random module to acess the randint() function.
- we use the list comprehension to gentare the random 10 numbers using the random.randint(1,50) for i in range(10) : the function .
- we convrt the random numbers list into tuple ,using the tuple() function .

### 38. Check if a tuple is sorted.

In [2]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

- We define a function is_sorted(tup) that takes a tuple as input and returns True if the tuple is sorted in non-decreasing order, and False otherwise.
- Inside the function, we iterate through the tuple's elements using a loop. We compare each element with the next one. If we find an element that is greater than the next one, the tuple is not sorted.
- We create two tuples, sorted_tuple and unsorted_tuple, for testing.
- We call the is_sorted() function on each tuple to check if they are sorted.
- We print the results of the sorted checks.

### 39. Rotate a tuple to the left by `n` positions.

In [3]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

- Define a function named rotate_tuple_left that takes two parameters: tup (the tuple to rotate) and n (the number of positions to rotate by).
- Inside the function, calculate n modulo len(tup) to ensure that n is within the range of the tuple length. This step is necessary to handle cases where n is greater than the tuple length.
- Use slicing to create a new tuple named rotated_tuple by concatenating two parts:
  - tup[n:] extracts the elements from index n to the end of the tuple.
  - tup[:n] extracts the elements from the start of the tuple up to index n-1.
- The concatenated parts create the rotated tuple.
- Return the rotated_tuple from the function.
- Define an example my_tuple containing elements (1, 2, 3, 4, 5) and n_positions as 2 for rotation.
- Call the rotate_tuple_left function with the my_tuple and n_positions, and store the result in the result variable.
- Print the result to see the tuple after left rotation by n_positions.

### 40. Rotate a tuple to the right by `n` positions.

In [4]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

- Define a function named rotate_tuple_right that takes two parameters: tup (the tuple to rotate) and n (the number of positions to rotate by).
- Inside the function, calculate n modulo len(tup) to ensure that n is within the range of the tuple length.
- Use slicing to create a new tuple named rotated_tuple by concatenating two parts:
  - tup[-n:] extracts the last n elements of the tuple.
  - tup[:-n] extracts the elements from the start of the tuple up to index -(n+1).
- The concatenated parts create the rotated tuple.
- Return the rotated_tuple from the function.
- Define an example my_tuple containing elements (1, 2, 3, 4, 5) and n_positions as 2 for rotation.
- Call the rotate_tuple_right function with the my_tuple and n_positions, and store the result in the result variable.
- Print the result to see the tuple after right rotation by n_positions.

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [5]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

- Create a function named generate_fibonacci that takes a parameter n, which represents the number of Fibonacci numbers to generate.
- Create a list called fibonacci and initialize it with the first two Fibonacci numbers [0, 1].
- Use a while loop to continue generating Fibonacci numbers until the length of the fibonacci list is less than n.
- Calculate the next Fibonacci number: Calculate the next Fibonacci number by adding the last two numbers in the fibonacci list. We use negative indexing to access the last and second-to-last elements.
- Add the next Fibonacci number to the list: Append the next_number to the end of the fibonacci list.
- Convert the list to a tuple and return it: Call the generate_fibonacci function with an argument of 5 to generate the first 5 Fibonacci numbers and store the resulting tuple in the variable fibonacci_tuple.
- Print the fibonacci_tuple, which contains the first 5 Fibonacci numbers.

### 42. Create a tuple from user input.

In [14]:
tuple_str = input()

    
input_list = tuple_str.split(',')



user_tuple = tuple(input_list)

print(user_tuple)

  name - avneesh ,name-rahul

(' name - avneesh ', 'name-rahul')

- in this code the user is prompted to enter elements separated by comma . the input is split into a list of strings using split() method ,and then convert into a tuple using the tuple() method . finaly the created tuple is printed to the console .

### 43. Swap two elements in a tuple.

In [15]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

- We start by creating a tuple named my_tuple with some elements.
- We specify the indices (index1 and index2) of the elements we want to swap.
- We use a list comprehension to create a new tuple. For each index i in the range of the tuple's length, we decide which value to include in the new tuple:
  - If i is not index1 or index2, we include the original value from my_tuple.
  - If i is index1, we include the value at index2 from my_tuple.
  - If i is index2, we include the value at index1 from my_tuple.
- We convert the list comprehension to a tuple using the tuple() constructor.
- We print the resulting swapped tuple.

### 44. Reverse the elements of a tuple.

In [19]:
my_tuple = (1, 2, 3, 4, 5)

reverse_the_element =my_tuple[::-1]

print("reverse tuple :",reverse_the_element)

reverse tuple : (5, 4, 3, 2, 1)

- we star creating by tuple named my_tuple contains some integers elemnt .

- we use the slicing with the notation my_tuple[::-1] to reverse a tuple

- we print the reverse tuple using print() statements .

### 45. Create a tuple of the first `n` powers of 2.

In [28]:
power_of_tuple = tuple (i**2 for i in range(10))
                  
               
print("power of the first n tuple:", power_of_tuple)

power of the first n tuple: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

- we use the list comprehension to generate the power of 2 using the exprassion  i**2 ,where i varies from 0 to 9.
- we use the tuple() function to converting the resulting list into tuples .
- we use the print statements to print it.

### 46. Find the longest string in a tuple of strings.

In [36]:
# Create a tuple of strings
string_tuple = ("ram","shyam","gopal","bharat","satrohana")

# Find the longest string in the tuple
longest_string = max(string_tuple,key= len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: satrohana

- We start by creating a tuple named string_tuple containing some string elements.
- We use the max() function with the key parameter set to len to find the longest string in the tuple based on the length of each string.
- The key=len argument tells max() to compare the strings based on their lengths.
- We print the resulting longest string

### 47. Find the shortest string in a tuple of strings.

In [37]:
# Create a tuple of strings
string_tuple = ("ram","shyam","gopal","bharat","satrohana")

# Find the shortest string in the tuple
shortest_string = min(string_tuple,key= len)

# Print the longest string
print("Longest string:", shortest_string)

Longest string: ram

- We start by creating a tuple named string_tuple containing some string elements.
- We use the min() function with the key parameter set to len to find the longest string in the tuple based on the length of each string.
- The key=len argument tells min() to compare the strings based on their lengths.
- We print the resulting longest string

### 48. Create a tuple of the first `n` triangular numbers.

In [38]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

- We define the value of n to determine how many triangular numbers you want to generate.
- We use a list comprehension to calculate the triangular numbers using the expression (i * (i + 1)) // 2 where i varies from 1 to n.
- We convert the resulting list of triangular numbers to a tuple using the tuple() constructor.
- We print the resulting tuple of triangular numbers.

### 49. Check if a tuple contains another tuple as a subsequence.

In [39]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

- We define a function contains_subsequence(main_tuple, sub_tuple) that takes two tuples as input and returns True if the main_tuple contains the sub_tuple as a subsequence, and False otherwise.
- Inside the function, we calculate the length of the sub_tuple.
- We iterate through the main_tuple using a loop that runs until the end of the main tuple minus the length of the subtuple. This is because there's no need to compare subsequences if there isn't enough space left in the main tuple.
- Within the loop, we check if the slice of the main_tuple from index i to i + sub_length is equal to the sub_tuple. If it is, then the main_tuple contains the sub_tuple as a subsequence.
- We return True if the subsequence is found, and if the loop completes without finding the subsequence, we return False.
- We create the main tuple and subsequence tuple for testing.
- We call the contains_subsequence() function and store the result in the contains_subseq variable.
- We print the result.

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [40]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

- We define the value of n to determine the length of the tuple you want to generate.
- We use a list comprehension to generate the alternating 1s and 0s pattern using the expression i % 2, which produces 0 for even i values and 1 for odd i values.
- We convert the resulting list of alternating 1s and 0s to a tuple using the tuple() constructor.
- We print the resulting tuple of alternating 1s and 0s.

----------

## **Set based problems:**

----

### 1. Create a set with integers from 1 to 5

In [45]:
set_=set(i for i in range(10))


print("set with integers :",set_)

set with integers : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

- we use the list comprehension to create the list from 1 to 9 .
- we use the set() function to convert list into a set. 
- we print the set wit integers using print() statements .

### 2. Add an element to a set

In [50]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

add_element = my_set.add(10)

print("new set:",my_set)

new set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

- we starts with the set named my_set contains some integer elements .
- we use the my_set.add(10)  function to add the 10 into the old set

### 3. Remove an element from a set.

In [130]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

remove_element = my_set.remove(6)

In [52]:
my_set

{0, 1, 2, 3, 4, 5, 7, 8, 9}

- we starts with the set named my_set contains some integer elements .
- we use the remove() function to remove 6 from the my_set .

- we call the my_set resulting me 6 is removed .

### 4. Check if an element exists in a set.

In [129]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

chek_my_set = int(input("inter the integer value"))

if chek_my_set in my_set:
    print("element is exist in set:",chek_my_set)
    
else:
    print("element is not exist in set:",chek_my_set)

inter the integer value 5

element is exist in set: 5

- we starts by creating a set named my_set contains some integer element .
- we ask the user input using input() functio ,that user want to chek the element is exist in their set or not .
- if user input in the set if condition will be true and write over here .
- if user input is not in the set then else condition will we true and print it .

### 5. Find the length of a set without using the `len()` function

In [ ]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

count = 0


for i in my_set:
    count = count+1
    
print("length of the set:",count)

length of the set: 10

- we start wit the example of set named my_set contains integers element .
- we initilize a variable count to keep track of the number of elemnt in the set . this variable will acts as our manual counter for the length.
- we use the for loop to iterate each element through my_set . the i is a common convention to represent a variable whose value is't going to be used with in thw loop .since we are interested in count ,we don't need to indivisual elements themselves .

- inside the loop for each iteration the value we increase by 1 .this simulates counting the element as we iterate through them.
- once the loop finishes iterating through all the elements, we have the total count stored in the count variable .

### 6. Clear all elements from a set.

In [61]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}


clear_set = my_set.clear()

print("clear all element :",my_set)

clear all element : set()

- We create a set named my_set containing the integers from 1 to 5 using the curly braces {}.
- We call the clear() method on the my_set set. This method removes all elements from the set, effectively emptying it.

### 7. Create a set of even numbers from 1 to 10

In [126]:
set_of_even_numbers = set(i for i in range(11) if i%2==0)

print("set of even numbers :",set_of_even_numbers)

set of even numbers : {0, 2, 4, 6, 8, 10}

- we use the list comprehension to generate the list of even number from 1 to 10 .
- we  use the set() function to convert the list into set .
- we print the set of even number using prin() statements.

### 8. Create a set of odd numbers from 1 to 10

In [68]:
set_of_odd_numbers = set(i for i in range(11) if i%2!=0)

print("set of odd numbers :",set_of_odd_numbers)

set of odd numbers : {1, 3, 5, 7, 9}

- we use the list comprehension to generate the list of odd number from 1 to 10 .
- we  use the set() function to convert the list into set .
- we print the set of odd number using prin() statements.

### 9. Find the union of two sets

In [125]:
set_a = {1,2,3,4,5,6}
set_b = {4,5,5,5,5,6,8}

set_of_union = set_a.union(set_b)

print("union of set :",set_of_union)

union of set : {1, 2, 3, 4, 5, 6, 8}

- we start by creatint two set named set_a and set_b respectively and contains some elements .
- we use the union() method to find the union of two set . this union returns a another set with the unique vale of elements .
- we use the print() method to print the union of set.

### 10. Find the intersection of two sets

In [77]:
set_a = {1,2,3,4,5,6}
set_b = {4,5,5,5,5,6,8}

set_of_intersection = set_a.intersection(set_b)

print("intersection  of set :",set_of_intersection)

intersection  of set : {4, 5, 6}

- we start by creating two set named set_a and set_b respectively and contains some elements .
- we use the intersection() method to find the intersection of two set . this intersection returns a another set with the unique vale of elements .
- we use the print() method to print the intersection of  set.

### 11. Find the difference between two sets.

In [124]:
set_a = {1,2,3,4,5,6}
set_b = {4,5,5,5,5,6,8}

set_of_difference = set_a.difference(set_b)

print("difference  of set :",set_of_difference)

difference  of set : {1, 2, 3}

- we start by creating two set named set_a and set_b respectively and contains some elements .
- we use the diffrence() method to find the difference between two set . this difference returns a another set with the unique vale of elements .
- we use the print() method to print the difference of  set.

### 12. Check if a set is a subset of another set.

In [123]:
set_a = {1,2,3,4,5,6}
set_b = {1,2,3,4,5,6,7,8}

set_of_issubset = set_a.issubset(set_b)

print("issubset  of set :",set_of_issubset)

issubset  of set : True

- we start by creating two set named set_a and set_b respectively and contains some elements .
- we use the issubset() method to find the issubset between two set . this issubset returns a another set with the unique vale of elements .
- we use the print() method to print the issubset of  set.

### 13. Check if a set is a superset of another set.

In [122]:
set_a = {1,2,3,4,5,6}
set_b = {1,2,3,4,5,6,7,8}

set_of_issuperse = set_a.issuperset(set_b)

print("issuperse  of set :",set_of_issuperse)

issuperse  of set : False

- we start by creating two set named set_a and set_b respectively and contains some elements .
- we use the issuperset() method to find the issuperset between two set . this issuperset returns a another set with the unique vale of elements .
- we use the print() method to print the issuperset of  set.

### 14. Create a set from a list

In [121]:
list_a = [1,2,3,4,5,6]

my_set = set(list_a)

print("set from a list :",my_set)

set from a list : {1, 2, 3, 4, 5, 6}

- we start with the example of list that contains some integer elements .
- we use set() function to convert the list into set .
- we print the set from the list using print() statements .

### 15. Convert a set to a list.

In [120]:
set_a = {1,2,3,4,5,6}

my_list = list(list_a)

print("list from a set :",my_set)

list from a set : {1, 2, 3, 4}

- we start with the example of set that contains some integer elements .
- we use list() function to convert the set into list .
- we print the list from the set using print() statements .

### 16. Remove a random element from a set.

In [119]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

- `import random`: This line imports the built-in random module, which provides various functions for generating random numbers and performing random selections.
- `my_set = {1, 2, 3, 4, 5}`: Here, we create a set named my_set containing the integers from 1 to 5.
- `print("Original set:", my_set)`: This line prints the original set to the console.
- `random_element = random.choice(list(my_set))`: We convert the set into a list using list(my_set) and then use random.choice() to select a random element from the list. This random element is stored in the variable random_element.
- `my_set.remove(random_element)`: We use the remove() method to remove the randomly chosen element from the set.
- `print("Updated set after removing", random_element, ":", my_set)`: Finally, we print the updated set after removing the random element to the console.

### 17. Pop an element from a set.

In [102]:
my_set = {1, 2, 3, 4, 5}

new_set = my_set.pop()

In [103]:
my_set

{2, 3, 4, 5}

- we start example of set named my_set contains some integer element .
- we use pop() function to pop an element from a set . in set pop star remove element from starting point of set .
- we call the my_set and resulting me 1 is poped from a set .

### 18. Check if two sets have no elements in common.

In [118]:
set_a = {1,2,3,4,5,6}
set_b = {7,8,9,10,11,12}

common_element = set_a.intersection(set_b)

if not common_element:
    print("two sets have no elements in common")

else:
    print("two sets have  common elements ")

two sets have no elements in common

- We start by defining two sets set_a and set_b with some elements in each set.
- We use the .intersection() method to find the intersection of set_a and set_b. - The result is a set containing elements that are common to both sets.
- We use an if statement to check if the common_elements set is empty. If it's empty, it means the sets have no elements in common, so we print a message indicating that. If the common_elements set is not empty, we print the common elements themselves.

### 19. Find the symmetric difference between two sets.

In [131]:
set_a = {1,2,3,4,5,6}
set_b = {5,6,9,10,11,12}

symmetric_diffrence = set_a.symmetric_difference (set_b)

print("symmetric diffrence b/w two set:",symmetric_diffrence)

symmetric diffrence b/w two set: {1, 2, 3, 4, 9, 10, 11, 12}

- We start by defining two sets set_a and set_b with some elements in each set.
- we use the symmetric_difference() function to identify the symmetric diffrence b/w them.and store inside variable symmetric_diffrence.
- we print the symmetric diffrence b/w to set using print() statements .

### 20. Update a set with elements from another set.

In [8]:
set_a = {1,2,3,4,5,6}
set_b = {5,6,9,10,11,12}


update_set = set_a.update(set_b)

print("Update a set with elements from another set:",set_a)

Update a set with elements from another set: {1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

- We start by defining two sets set_a and set_b with some elements in each set.
- we use update() function to update the element from set_b to set_a . 
- we print the set_a then showes me set_b is apdated  in set_a

### 21. Create a set of the first 5 prime numbers.

In [4]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

- We start by defining a function is_prime that checks if a given number is prime. It returns True if the number is prime and False otherwise.
- We create an empty set prime_set to store the first 5 prime numbers.
- We initialize the variable num to start checking for prime numbers, beginning with 2.
- We use a while loop to continue searching for prime numbers until we have found 5 of them.
- Inside the loop, we check if the current value of num is prime by calling the is_prime function. If it's prime, we add it to the prime_set.
- Regardless of whether the current num is prime or not, we increment num by 1 to move to the next number for the next iteration of the loop.
- Once we have found 5 prime numbers and the loop terminates, we print the set of prime numbers.

### 22. Check if two sets are identical.

In [11]:
set_a = {6,9,10,11,12,5}
set_b = {5,6,9,10,11,12}


if set_a==set_b:
    print("Both set are identical")
else:
    print("Both set are not identical")

Both set are identical

- we create two rendom set named set_a and set_b contains some integer data .(that we want to check both set are identical or not ).
- we use thee if statement to check set_a==set_b this condition if condition is true , print the both set are identical .
- if else condition is true then print both set are not identical ..

### 23. Create a frozen set

In [9]:
set_a = {6,9,10,11,12,5}



frozen_set = frozenset(set_a)

print("frozen set:", frozen_set)

frozen set: frozenset({5, 6, 9, 10, 11, 12})

- we define a set_a that contains some integer data .
- we importing the frozenset class from the collection module . the frozenset is sn immutable version of a set , meaning its element cannot be modified after creating the forezenset.
- finall y we print forezenset by using the print() statement .

### 24. Check if a set is disjoint with another set.

In [13]:
set_a = {6,9,10,11,12,5}
set_b = {5,6,9,10,11,12}


disjoint_set = set_a.isdisjoint(set_b)

print("set is disjoin with another:",disjoint_set)

set is disjoin with another: False

- we start with the two set set_a and set_b ,contains some integer data .
- we use the isdisjoin() functuion to check the set is disjoint or not with another set . if set_a disjoint with set_b print true else false .
- we print it by using print() statements .

### 25. Create a set of squares of numbers from 1 to 5.

In [18]:
my_set = set( i**2 for i in range(1,6))

print("set of squares:",my_set)

set of squares: {1, 4, 9, 16, 25}

- we use the list comprehension to genrate the list of numbers from 1 to 5 . list comprehension gives me data in the form list.
- we use the set() function to convert list into set .
- we use the i**2 to the square of the data . that we want to squre of.

### 26. Filter out all even numbers from a set.

In [20]:
set_a = {6,9,10,11,12,5}

even_number_set = set()

for num in set_a:
    
    if num%2==0:
        
        even_number_set.add(num)
        
print("even numbers:",even_number_set)

even numbers: {10, 12, 6}

- we start with the set object that contains some integer data .
- we create empyty variable even_number_set to store the data and use set() functio to convrt tuple into set .
- we use the for loop to iterate each element through set_a .
- inside the loop we use the modulus % to chek the data is even inside the set_a (divisible by 2).
- if data is even , we add it to the even_number_set using the add() method .
- we print the even numbers by using the print() statements .

### 27. Multiply all elements in a set by 2.

In [22]:
set_a = {1,2,3,4,5,6,7,8,9}

multiplyed_set = set()

for num in set_a:
    
    multiplyed_num = num*2
    
    multiplyed_set.add(multiplyed_num )
    
print("multiplyed set :",multiplyed_set)

multiplyed set : {2, 4, 6, 8, 10, 12, 14, 16, 18}

- we start with the set object that contains some integer data .
- we create empyty variable multiplyed_set to store the data and use set() functio to convrt tuple into set .
- we use the for loop to iterate each element through set_a .
- inside the loop we use the modulus *  to multiply data by 2.
- we add it multiplyed_set to the using the add() method .
- we print the multiplyed set by using the print() statements .

### 28. Create a set of random numbers.

In [25]:
import random 

random_number_set = set()

for i in range(5):
    
    random_num = random.randint(1,100)
    
    random_number_set.add(random_num)
    
print("random number set :",random_number_set)

random number set : {76, 44, 48, 23, 93}

- we import the random module , which provides function for generating random numbers and performimg other random related operations .
- we initialize an empty set named random_number_set that will store our generated random numbers .
- we use the loop to generate random number and add them to the set . in each iteration of the loop we genrate a random integer by using the random.randint(1,100) function .
- we use the add() function to add the set inside the random_number_set.
- we print the random number by using print() function .

### 29. Check if a set is empty.

In [26]:
my_set = {}

if not my_set:
    print("my set is empty")
else:
    print("my set is not empty")

my set is empty

- we create the empty set (that we want to check set is empty or not)
- we use the if not condition if this condition is true then print will be my set is empty. else not .
- we print the my set is empty using print() method .

### 30. Create a nested set (hinat: use frozenset).

In [27]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

- We import two sets, set1 and set2, containing integers from 1 to 5 and from 6 to 10, respectively.
- We then create two frozenset objects, frozen_set1 and frozen_set2, from set1 and set2. The use of frozenset ensures that the inner sets are immutable and can be used as elements of another set.
- Finally, we create the nested_set by adding the two frozenset objects into it. This creates a set containing two nested sets.
- We print the nested_set to see the result.

### 31.  Remove an element from a set using the discard method.

In [29]:
set1 = {1, 2, 3, 4, 5}

set1.discard(3)

print("after remove the element :",set1)

after remove the element : {1, 2, 4, 5}

- we create the set1 contains some integer element .
- we use the discord() method to remove the element 3 from the set1.
- we prin the discorded set using the print() statements .

### 32. Compare two sets.

In [30]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

- We define two sets set1 and set2 containing some elements.
- We use various set operations to compare the two sets:
  - issubset() checks if set1 is a subset of set2.
  - issuperset() checks if set1 is a superset of set2.
  - intersection() finds the common elements between the sets.
  - union() finds the combined set of unique elements from both sets.
  - difference() finds the elements that are in the first set but not in the second set, and vice versa.
- We print out the original sets, the comparison results, the intersection, the union, and the differences.

### 33. Create a set from a string.

In [37]:
my_string = "pwskills"

set_=set(my_string)

print("set:",set_)

set: {'k', 'w', 'l', 'p', 'i', 's'}

- we create a string named my_string contains some characters .
- we use set() function to convert string into the set .
- we print the set by using the print() statements .

### 34. Convert a set of strings to a set of integers.

In [39]:
set_of_string = {"1","2","3","4"}


set_of_integers = set()

for string in set_of_string:
    
    integer_value = int(string)
    
    set_of_integers.add(integer_value)
    
print("set of integers:",set_of_integers)

set of integers: {1, 2, 3, 4}

- we start by creating a set of string called set_of_string contains the some string .
- we create the variable called set_of_integers to store resulting set of integers .
- we use the for loop to iterate through each string in the set_of_string .
- inside the loop we converting each string into the integer using the int() function .

### 35. Convert a set of integers to a set of strings.

In [41]:
set_of_integers =  {1, 2, 3, 4}

set_of_string = set()

for integer in set_of_integers:
    
    string_value = str(integer)
    
    set_of_string.add(string_value)
    
    
print("set of string:",set_of_string)

set of string: {'4', '1', '2', '3'}

- we start by creating a set of integers  called set_of_integers contains the some integer .
- we create the variable called set_of_string to store resulting set of string .
- we use the for loop to iterate through each integer in the set_of_integers .
- inside the loop we converting each integer into the string using the str() function .

### 36. Create a set from a tuple.

In [43]:
my_tuple = (1,2,3,4,5,6)

my_set = set(my_tuple)



print("set:",my_set)

set: {1, 2, 3, 4, 5, 6}

- we start creating tuple named my_tuple contains some integer elemnets.
- we use set() method to convert tuple into set .
- we print the creating set using the print() statements .

### 37. Convert a set to a tuple.

In [44]:
my_set =  {1, 2, 3, 4, 5, 6}

my_tuple = tuple(my_set)

print("my tuple:",my_tuple)

my tuple: (1, 2, 3, 4, 5, 6)

- we start creating set named my_set contains some integer elemnets.
- we use tuple() method to convert set into tuple .
- we print the creating tuple using the print() statements .

### 38. Find the maximum value in a set.

In [45]:
my_set = {1,5,9,9,95}

max_value = None 


for num in my_set :
    if max_value is None or num > max_value :
        max_value = num
        
        
print("maximum value :", max_value)

maximum value : 95

- we start wit the set named my_set contains some integers element .
- we initilize a variable max_valu to none .this variable will be used to keep track of the maximum value foun do for .
- we use a for loop to iterate through each element(num) in the my_set .
- inside the loop we have conditional statements that check two conditions .
- if max value is none , it means we are in the first iteration , so we update max_value with the current number(num).
- if the current number (num) is grater than the max_value ,we update max_value with the current number(num).
- After the loop completes, we print the maximum value that was found

### 39. Find the minimum value in a set.

In [47]:
my_set = {1,5,9,9,95}

minimum_value = None 

for num in my_set :
    if minimum_value is None or num < minimum_value :
        minimum_value = num
print("minimum value:",minimum_value)

minimum value: 1

- we start wit the set named my_set contains some integers element .
- we initilize a variable minimum_value to none .this variable will be used to keep track of the minimum value found for .
- we use a for loop to iterate through each element(num) in the my_set .
- inside the loop we have conditional statements that check two conditions .
- if minmimum value is none , it means we are in the first iteration , so we update min_value with the current number(num).
- if the current number (num) is less than the minimum_value ,we update minimum_value with the current number(num).
- After the loop completes, we print the minimum value that was found

### 40. Create a set from user input.

In [48]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  avneesh verma,aman verma
>  finish
>  done

Final set: {'finish', 'avneesh verma,aman verma'}

- We start by initializing an empty set called user_set.
- We use a while loop to repeatedly get input from the user. The loop will continue until the user enters 'done'.
- Inside the loop, we use the add method to add each user input to the user_set. The .lower() method is used to convert the input to lowercase so that the comparison is case-insensitive.
- Once the user enters 'done', the loop is exited, and the code displays the final set that was created using the user inputs.

### 41. Check if the intersection of two sets is empty.

In [49]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

- We start by defining two sets, set1 and set2, with some example elements. You can replace these sets with your own sets if needed.
- The intersection_result is obtained by using the intersection() method of the first set (set1). This method returns a new set containing elements that are present in both set1 and set2.
- We then use an if statement to check if the intersection_result is empty. The condition if not intersection_result: checks if the set is empty. If the condition is true, it means the intersection is empty, and we print the corresponding message. If the condition is false, it means the intersection is not empty, and we print the corresponding message.

### 42. Create a set of the first 5 Fibonacci numbers.

In [50]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

- We create an empty set fibonacci_set to store the first 5 Fibonacci numbers.
- We initialize two variables a and b to 0 and 1 respectively, as the first two Fibonacci numbers.
- We use a for loop to generate the first 5 Fibonacci numbers. The loop iterates 5 times.
- Inside the loop, we add the current value of a (which is a Fibonacci number) to the fibonacci_set.
- We update the values of a and b to calculate the next Fibonacci number. This is done by swapping the values: a becomes b and b becomes the sum of the previous a and b.
- Once the loop finishes, we print the set of the first 5 Fibonacci numbers.

### 43. Remove duplicates from a list using sets.

In [51]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

- We start by defining an original_list that contains duplicate elements.
- We use the set() function to convert the original_list into a set. Sets are collections that automatically remove duplicate elements, so this step effectively removes duplicates from the list. The variable unique_set now contains only the unique elements from the original list.
- We convert the unique_set back into a list using the list() function. This step is necessary if you need the final result as a list.
- Finally, we print both the original list and the list with duplicates removed to see the difference.

### 44. Check if two sets have the same elements, regardless of their count.

In [52]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

- We define a function have_same_elements that takes two sets (set1 and set2) as its arguments.
- Inside the function:
- We convert the sets to lists using list(set1) and list(set2) to make them sortable.
- We then sort both lists using the sorted function to ensure that the order of elements doesn't matter.
- We use the equality operator == to compare the sorted lists sorted_list1 and sorted_list2.
- The function returns True if the sorted lists are equal, indicating that the sets have the same elements (regardless of their count), and False otherwise.
- We define example sets set1 and set2 with elements that are the same but might be in different orders or have different counts.
- We call the have_same_elements function with set1 and set2 as arguments and store the result in the result variable.
- Finally, we print a message based on the value of result, indicating whether the sets have the same elements or not.

### 45. Create a set of the first `n` powers of 2

In [53]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

- We define a function generate_powers_of_2 that takes an argument n, which represents the number of powers of 2 to generate.
- Inside the function, we initialize an empty set powers_of_2 to store the powers of 2.
- We use a for loop to iterate from 0 to n-1. In each iteration, we calculate the current power of 2 using the exponentiation operator **, where the exponent is i.
- The calculated power of 2 is added to the powers_of_2 set using the add() method.
- Once the loop is finished, the function returns the set powers_of_2 containing the generated powers of 2.
- Outside the function, we define the value of n as 5 (you can change this value to generate a different number of powers).
- We call the generate_powers_of_2 function with the value of n and store the resulting set in the powers_set variable.
- Finally, we print the powers_set to see the set of the first n powers of 2.

### 46. Find the common elements between a set and a list.

In [54]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

- We start by defining a set named my_set and a list named my_list that contain some elements.
- To efficiently compare the elements, we convert the list to a set using the set() constructor. This step helps in faster membership testing.
- We create an empty list called common_elements where we will store the elements that are common between the set and the list.
- We start iterating through the elements in the set using a for loop.
- Inside the loop, we check if the current element is present in the converted set (list_to_set) using the element in list_to_set syntax.
- If the element is found in both the set and the list, we append it to the common_elements list.
- After the loop is complete, we print the common_elements list which contains the common elements between the set and the list.

### 47. Create a set of the first `n` triangular numbers.:

Triangular numbers are a sequence of numbers that represent the number of dots in a triangular arrangement. The sequence starts with 1 and then each subsequent number is obtained by adding the next natural number.

Mathematically, the $n^{th}$ triangular number, denoted as $T_n$, is given by the formula:

$T_n$ $=$ $1+2+3+...+n=\frac {n*(n + 1)}{2}$

Visually, you can imagine triangular numbers by arranging dots in the shape of equilateral triangles:

```
   1       1 dot
   1 1      3 dots
   1 2 1     6 dots
   1 2 3 1   10 dots
```

In [55]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

- We define a function generate_triangular_numbers(n) that takes an integer n as input and returns a set of the first n triangular numbers.
- Inside the function, we create an empty set called triangular_numbers to store the generated triangular numbers.
- We use a for loop that iterates over the range from 1 to n + 1 (inclusive).  This ensures that we generate n triangular numbers.
- Within the loop, we calculate the ith triangular number using the formula i * (i + 1) // 2. The // operator performs integer division.
- We add the calculated triangular number to the set using the add() method.
- After the loop completes, the function returns the set of triangular numbers.
- We ask the user to input the value of n.
- We call the generate_triangular_numbers(n) function with the input n to generate the set of triangular numbers.
- Finally, we print the generated set of triangular numbers using a formatted string

### 48. Check if a set contains another set as a subset.

In [56]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

- We start by defining two sets: set1 and set2. In this example, set1 contains elements {1, 2, 3, 4, 5} and set2 contains elements {3, 4}.
- We use the issubset() method to check if set2 is a subset of set1. The method returns True if set2 is indeed a subset of set1, and False otherwise.
- We store the result of the subset check in the variable is_subset.
- Finally, we use an if statement to print out whether set2 is a subset of set1 or not, based on the value of the is_subset variable.

### 49. Create a set of alternating 1s and 0s of length `n`.

In [57]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

- We define a function create_alternating_set(n) that takes an integer n as input, which represents the desired length of the alternating set.
- Inside the function, we initialize an empty set named alternating_set to store the alternating sequence of 1s and 0s.
- We use a loop that iterates from 0 to n-1, generating the alternating sequence.
- Inside the loop, we check whether the current value of i is even or odd using the modulus operator (i % 2).
- If i is even (remainder is 0 when divided by 2), we add 1 to the set since we want to alternate with 1s.
- If i is odd (remainder is 1 when divided by 2), we add 0 to the set.
- After the loop completes, the function returns the alternating_set.
- Outside the function, we define the desired length of the alternating set (length_n).
- We call the create_alternating_set() function with length_n as an argument and store the result in the variable result.
- Finally, we print the resulting set using the print() function.

### 50. Merge multiple sets into one.

In [58]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

- We start by creating three sets set1, set2, and set3 containing different elements.
- The union() method is used to combine the elements from all the sets into a new set, which is stored in the merged_set variable.
- Alternatively, you can use the | operator to achieve the same result. This operator performs a union operation on sets.
- Finally, we print the contents of the merged_set, which now contains all the unique elements from the original sets.